@media(min-width: 992px) and (max-width: 1200px){
  .newabout-box{
    width: 100%;
    padding: 0 15px;
  }
  .details-text{
    margin-left: 10px;
  }
  .details-text p:nth-of-type(2){
    font-size: 14px;
  }
}