.custom-one {
  width: 100%;
  height: 990px
}

.costom-top {
  background: url(../../assets/img/customserve/bannerk.png) no-repeat;
  background-size: cover;
}

.custom-text {
  overflow: hidden;
}

.custom-text p:nth-child(1) {
  height: 30px;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 1;
  opacity: 0.85;
  text-align: center;
  margin-top: 110px;
}

.custom-text p:nth-child(3) {
  width: 64px;
  height: 4px;
  background: rgba(24, 144, 255, 1);
  margin-top: 23px;
}

.custom-text p:nth-child(4) {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.85;
  text-align: center;
  margin-top: 25px;
}

.have-text {
  width: 100%;
}

.one-text p:nth-child(1) {
  color: rgba(0, 0, 0, 1)
}

.one-text p:nth-child(3) {
  color: rgba(6, 0, 1, 1);
  max-width: 532px;
}

.one-img {
  height: 640px;
}

.one-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.6s;
}

.one-img img:hover {
  transform: scale(1.1);
}

.custom-two {
  width: 100%;
  height: 640px;
  overflow: hidden;
  position: relative;
}

.custom-two img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.6s;
}

.custom-two img:hover {
  transform: scale(1.1);
}

.two-text {
  position: absolute;
  top: 0;
  left: 50%;
  height: 260px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-text p {
  margin: 0;
}

.two-text p:nth-child(1) {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 1;
  opacity: 0.85;
  text-align: center;
  margin-top: 110px;
}

.two-text p:nth-child(2) {
  width: 64px;
  height: 4px;
  background: rgba(24, 144, 255, 1);
  margin-top: 23px;
}

.two-text p:nth-child(3) {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  opacity: 0.85;
  text-align: center;
  margin-top: 25px;
}

.custom-three {
  width: 100%;
  height: 768px;
  overflow: hidden;
}
.tab-boxImg{
  margin: 0 auto;
}
.three-text p:nth-child(1) {
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 1;
  opacity: 0.85;
  text-align: center;
  margin-top: 110px;
}

.three-text p:nth-child(2) {
  width: 64px;
  height: 4px;
  background: rgba(24, 144, 255, 1);
  margin-top: 23px;
}

.three-text p:nth-child(3) {
  max-width: 770px;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.85;
  text-align: center;
  margin-top: 25px;
}

.three-content {
  display: flex;
}

.three-content img {
  max-width: 600px;
  height: 338px;
  cursor: pointer;
  transition: all 0.6s;
}

.three-content img:nth-child(1) {
  z-index: 4;
}

.three-content img:nth-child(2) {
  margin-left: -35%;
  z-index: 3;
}

.three-content img:nth-child(3) {
  margin-left: -35%;
  z-index: 2;
}

.three-content img:nth-child(4) {
  margin-left: -35%;
  z-index: 1;
}

.three-content img:nth-child(1):hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3)
}

.three-content img:nth-child(2):hover {
  z-index: 4;
  transform: scale(1.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3)
}

.three-content img:nth-child(3):hover {
  z-index: 4;
  transform: scale(1.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3)
}

.three-content img:nth-child(4):hover {
  z-index: 4;
  transform: scale(1.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3)
}

.three-btn {
  width: 88px;
  height: 338px;
  position: relative;
  overflow: hidden;
}

.three-btn div {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 88px;
  height: 32px;
  border: 1px solid rgba(24, 144, 255, 1);
  border-radius: 16px;
  color: rgba(24, 144, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-four {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: hidden;
  /* background: url(../../assets/img/customserve/ding-01.png) no-repeat;
  background-size: cover; */
}

.custom-four img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.6s;
}

.custom-four img:hover {
  transform: scale(1.1);
}

.top-box {
  height: 1020px;
}

/* --------------- */
/* 上部样式 */
.top-box {
  width: 100%;
  margin-top: 49px;
}

.custom-box {
  overflow: hidden;
}

.row {
  margin: 0;
}

.top-text {
  font-size: 60px;
  font-family: Microsoft YaHei;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin-top: 180px;
}

.top-text2 {
  margin-top: 30px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 1;
}

.top-text3 {
  height: 40px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
}

.top-into {
  width: 40px;
  height: 40px;
  margin: 0;
  margin-left: 33px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-into i {
  font-size: 40px;
}


/* ----------- */

.custom-text p:nth-of-type(2) {
  display: none;
}



/* 轮播 */
.custom-carousel {
  width: 100%;
  height: 918px;
  overflow: hidden;
  display: none;
}

.carousel-text {
  width: 702px;
  height: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-text p {
  text-align: center;
}

.carousel-text p:nth-of-type(1) {
  font-size: 36px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85)
}

.carousel-text p:nth-of-type(2) {
  font-size: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

.carousel-box {
  width: 702px;
  height: 538px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-img {
  width: 100%;
  height: 407px;
}

.carousel-img img {
  width: 100%;
  height: 395px;
  background: rgba(24, 144, 255, 1);
  box-shadow: 0px 6px 12px 0px rgba(14, 96, 171, 0.4);
  border-radius: 20px;
}

.carousel-index {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-index ul {
  display: flex;
}

.carousel-index ul li {
  list-style: none;
  width: 16px;
  height: 16px;
  background: rgba(204, 204, 204, 1);
  border-radius: 50%;
  margin: 0 10px;
}

.carousel-index ul li:nth-of-type(1) {
  background: #108EE9;
}


.three-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.three-content {
  width: 1200px;
  margin: 0 auto;
}

.btn-position {
  position: absolute;
  top: 0;
  left: -88px;
}

.btn-position2 {
  position: absolute;
  top: 0;
  right: -88px;
}

@media (max-width: 1444px) {
  .three-content {
    width: 1000px;
  }

  .three-content img:nth-child(2), .three-content img:nth-child(3),.three-content img:nth-child(4){
    margin-left: -49%;
  }
}