* {
  margin: 0;
  padding: 0;
}


.newslist-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.newslist-content {
  width: 100%;
  height: 2025px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  margin-top: 48px;
}

.newabout-box {
  width: 1200px;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.newabou-head {
  width: 100%;
  height: 600px;
  background: url(../../assets/img/news-01.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newshead-box {
  width: 558px;
  height: 106px;
  background: rgba(24, 144, 255, 1);
  opacity: 0.7;
  font-size: 44px;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newabout-list {
  width: 100%;
  height: 1300px;
  display: flex;
  margin: 40px 0;
}

.list-box {
  width: calc(100% - 330px);
  height: 1220px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 16px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.list-consult {
  width: 330px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.list-crumbs {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.list-crumbs p {
  margin: 0;
  width: 4px;
  height: 18px;
  background: #1890FF;
}

.list-crumbs span {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  margin-left: 15px;
  /* line-height: 0.; */
}

.list-details {
  width: 100%;
  height: 1141px;
}

.list-line {
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
}

.list-line p {
  width: calc(100% - 20px);
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  margin: 0;
}

.details-box {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-content {
  width: calc(100% - 40px);
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.details-img {
  width: 220px;
  height: 150px;
}

.details-img img {
  width: 100%;
  height: 100%;
}

.details-text {
  width: 596px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-text p:nth-of-type(1) {
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  line-height: 30px;
  margin: 0;
}

.details-text p a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.details-text p:nth-of-type(2) {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  line-height: 30px;
  margin: 0;
}

.details-look {
  display: flex;
  justify-content: space-between;
}

.details-look a {
  text-decoration: none;
  color: rgba(24, 144, 255, 0.85);
}

.details-look a:hover,
a:focus {
  color: rgba(24, 144, 255, 0.85);
  text-decoration: none;
}

.details-look div:nth-of-type(1) {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 30px;
}

.details-look div:nth-of-type(2) {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(24, 144, 255, 0.85);
  line-height: 30px;
}

.consult-box {
  width: 300px;
  height: 584px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 16px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-left: 30px;
}

.consult-content {
  width: calc(100% - 40px);
  height: 456px;
  margin: 20px;
}

.serial-box {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 1);
  opacity: 0.3;
  border-radius: 50%;
  margin: 5px 5px 0 0;
}

.consult-text {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.serial-text {
  width: 230px;
}

.serial-text p:nth-of-type(1) {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
}

.serial-text p a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}

.serial-text p:hover a {
  color: rgba(24, 144, 255, 1)
}

.serial-text p:nth-of-type(2) {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 28px;
  opacity: 0.85;
  margin: 0;
}

.newabout-paging {
  width: 100%;
  display: flex;
  justify-content: center;
}

.details-text p:nth-of-type(2):hover {
  color: rgba(24, 144, 255, 1);
  cursor: pointer;
}

.consultHover {
  cursor: pointer;
}

.consultHover>.serial-text p:nth-of-type(2) {
  color: rgba(24, 144, 255, 1);
}

.consultHover>.serial-box {
  background: rgba(24, 144, 255, 1);
  opacity: 1;
}