* {
  margin: 0;
  padding: 0;
}

.solution-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
p{
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev {
  margin-left: -50px;
  color: rgba(184, 184, 184, 1);
}

.swiper-button-next {
  color: rgba(184, 184, 184, 1);
}

.swiper-button-next {
  margin-right: -50px;
  color: rgba(184, 184, 184, 1);
}

.solution-content {
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  margin-top: 48px;
}

.article-introduce {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/img/banner_ny.png) no-repeat;
  background-size: 100% 100%;
}
.article-introduce-cs {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/banner_cs.png) no-repeat;
  background-size: 100% 100%;
}
.article-introduce-gc {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/banner_gc.png) no-repeat;
  background-size: 100% 100%;
}
.article-introduce-jt {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/banner_jt.png) no-repeat;
  background-size: 100% 100%;
}
.article-introduce-jy {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/banner_jy.png) no-repeat;
  background-size: 100% 100%;
}
.article-introduce-yl {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/banner_yl.png) no-repeat;
  background-size: 100% 100%;
}
.article-introduce-zw {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/banner_zw.png) no-repeat;
  background-size: 100% 100%;
}
.article-introduce-jr {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/img/banner_jr.png) center center no-repeat;
  background-size: 100% 100%;
}

.article-box {
  width: 1200px;
}
.article-title {
  font-size:42px;
  font-family:Microsoft YaHei;
  font-weight:bold;
  color:rgba(255,255,255,1);
}
.bottom-line {
  width: 100px;
  height: 4px;
  margin: 10px 0;
  background: #1890FF;
}
.article-text {
  font-size:20px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(255,255,255,.8);
}

.introduced-box {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.introduced-content {
  width: 1200px;
  height: 100%;
}

.int-text {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.int-us {
  height: 175px;
}

.int-us p {
  margin: 10px 0;
  text-align: center;
}

.int-p {
  margin: 0;
  width: 100%;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1;
}

.int-pt {
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1;
  margin: 5px 0 10px 0;
}

.int-box {
  width: 100%;
  /* height: ; */
  display: flex;
  justify-content: center;
}

.int-box span {
  display: inline-block;
  width: 64px;
  height: 4px;
  background: rgba(24, 144, 255, 1);
}

.int-details {
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.int-details span {
  margin-top: 20px;
  display: inline-block;
  width: 669px;
  height: 76px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color:rgba(0,0,0,0.85);
}

.int-img {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.int-img .row div {
  /* width: 278px; */
  height: 200px;
  margin-top: 10px;
}
.int-img .row div img{
 width: 100%;
 height: 100%;
}

/* .left-btn{
  position: absolute;
  left: -40px;
}
.right-btn{
  position: absolute;
  right: -40px;
} */

.int-img img:hover {
  margin-top: -10px;
}

.industry-box {
  width: 100%;
  background: rgba(24, 144, 255, 0.1);
  display: flex;
  justify-content: center;
}

.industry-content {
  width: 1200px;
  height: 100%;
}

.industry-title {
  width: 1200px;
  height: 222px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.app-scheme {
  display: none;
}
.title-box {
  width: 100%;
  height: 107px;
  padding-top: 30px;
}

.industry-list {
  width: 1120px;
  margin: 0 40px;
  overflow: hidden;
  margin-bottom: 50px;
}

.industry-one {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.industry-img {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 52px;
  height: 52px;
  background: url(../../assets/img/slices.png) no-repeat;
  background-size: 100% 100%;
}

.industry-serial {
  width: 150px;
  height: 100%;
  background: rgba(24, 144, 255, 1);
  border-radius: 12px 0 0 12px;
  font-size: 80px;
  font-family: STHeiti;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.industry-two {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  display: flex;
}

.industry-text {
  width: 970px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.industry-text p {
  margin: 0;
  width: 916px;
  margin-left: 20px;
}

.industry-text p:nth-of-type(1) {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
  opacity: 0.85;
}

.industry-text p:nth-of-type(2) {

  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: 25px;
  opacity: 0.65;
}

.industry-img2 {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 52px;
  height: 52px;
  background: url(../../assets/img/slices.png) no-repeat;
  background-size: 100% 100%;
}

.industry-serial2 {
  background: rgba(24, 144, 255, 0.5);
  color: rgba(24, 144, 255, 1);
}

.industry-text2 p:nth-of-type(1) {
  color: rgba(24, 144, 255, 1)
}

.industry-text2 p:nth-of-type(2) {
  color: rgba(24, 144, 255, 0.65)
}

.scheme-box {
  width: 100%;
  height: 583px;
  display: flex;
  justify-content: center;
}

.scheme-content {
  width: 1200px;
  height: 100%;
  /* overflow: hidden; */
}

.scheme-title {
  width: 100%;
  /* height: 152px; */
  text-align: center;
  margin-top: 76px;
}

.carousel-box {
  width: 100%;
  height: 360px;
  position: relative;
}

.carousel-img {
  width: 370px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carousel-img1 {
  background: url(../../assets/img/image_nyfa1.png) no-repeat;
  background-size: 100% 100%;
}

.carousel-img2 {
  background: url(../../assets/img/image_nyfa2.png) no-repeat;
  background-size: 100% 100%;
}

.carousel-img3 {
  background: url(../../assets/img/image_nyfa3.png) no-repeat;
  background-size: 100% 100%;
}

.carousel-img4 {
  background: #f0f;
}

.carousel-text {
  
  font-family: Microsoft YaHei;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  overflow: hidden;
}
.carousel-text p:nth-of-type(1){
  font-size: 20px;
}

.carousel-text p:nth-of-type(2){
  width: 360px;
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
}

.sence-box {
  width: 100%;
  height: 420px;
  background: rgba(24, 144, 255, 0.1);
  display: flex;
  justify-content: center;
}

.sence-content {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.img-box {
  width: 1200px;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.swiper-button-next img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper-button-prev img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
