.product-content {
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.product-talking {
  width: 100%;
  height: 1020px;
  background: url(../../assets/img/vi/visu-bg.jpg) center center no-repeat;
  background-size: cover;
  margin-top: 59px;
}
.product-talking .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.visu-box {
  width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 0;
}

.product-text {
  font-size: 60px;
  font-family: Microsoft YaHei;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.product-text2 {
  margin-top: 30px;
  height: 25px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 1;
}

.product-text3 {
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.product-into {
  width: 40px;
  height: 40px;
  margin: 0;
  margin-left: 33px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.product-into a {
  font-size: 40px;
}

.product-example {
  width: 100%;
  height: 570px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.example-box {
  width: 1200px;
  height: 100%;
  position: relative;
}

.example-title {
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: 1;
  opacity: 0.85;
}

.example-en {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 1;
  opacity: 0.65;
  margin-top: 10px;
}

.example-line {
  width: 64px;
  height: 4px;
  line-height: 1;
  background: rgba(24, 144, 255, 1);
  margin: 20px 0;
}

.example-text {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
  opacity: 0.85;
}

.example-right {
  margin-top: 107px;
  display: flex;
  justify-content: space-around;
}

.example-right img {
  width: 494px;
  height: 435px;
}

.example-left {
  margin-top: 204px;
}

.find-box {
  width: 100%;
  height: 600px;
}

.find-text {
  height: 305px;
}

.find-text p {
  text-align: center;
}

.find-text p:nth-child(1) {
  margin-top: 96px;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: 1;
  opacity: 0.85;
}

.find-text p:nth-child(2) {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 1;
  opacity: 0.65;
  margin: 10px 0;
}

.find-text p:nth-child(3) {
  width: 64px;
  height: 4px;
  background: rgba(24, 144, 255, 1);
  margin-bottom: 30px;
}

.find-text p:nth-child(4) {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 1;
  opacity: 0.85;
}

.find-box img {
  cursor: pointer;
  transition: all 0.6s;
}

.find-box img:hover {
  transform: scale(1.1);
}

.custom-box {
  height: 943px;
  position: relative;
}

.custom-place {
  width: 1200px;
  margin-top: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.custom-top {
  height: 56px;
  display: flex;
}

.custom-twig {
  display: inline-block;
  width: 4px;
  height: 56px;
  background: rgba(24, 144, 255, 1);
}

.custom-tetx p:nth-child(1) {
  height: 30px;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  opacity: 0.85;
  line-height: 1;
  margin-left: 20px;
}

.custom-tetx p:nth-child(2) {
  margin-top: 10px;
  height: 12px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  opacity: 0.65;
  line-height: 1;
  margin-left: 20px;
}

p {
  margin: 0;
}

.custom-text {
  margin-top: 60px;
}

.explain-text {
  margin-top: 20px;
}

.place-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border: 1px solid rgba(255, 255, 255, 1);
  position: relative;
}

.place-blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: rgba(24, 144, 255, 0.8);
  position: relative;
}

.place-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.custom-img {
  height: 357px;
  background: rgba(24, 144, 255, 0.2);
  display: flex;
  align-items: center;

}

.custom-img img {
  cursor: pointer;
  transition: all 0.6s;
  margin-left: -40px;
  width: 98%;
  height: 98%;
}

.custom-img2 {
  height: 357px;
  background: rgba(24, 144, 255, 0.2);
  display: flex;
  align-items: center;

}

.custom-img2 img {
  cursor: pointer;
  transition: all 0.6s;
  margin-right: -40px;
  width: 98%;
  height: 98%;
  position: relative;
  left: 2%;
  object-fit: cover;
  z-index: 9;
}

.custom-img2 img:hover {
  transform: scale(1.1);
}

.custom-img img:hover {
  transform: scale(1.1);
}


.encrypt-text p:nth-child(1) {
  /* height: 30px; */
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  opacity: 0.85;
  text-align: center;
  margin-top: 113px;
}

.encrypt-text p:nth-child(2) {
  /* height: .15rem; */
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  opacity: 0.65;
  text-align: center;
  margin-top: 10px;
}

.encrypt-text p:nth-child(3) {
  width: 64px;
  height: 4px;
  background: rgba(24, 144, 255, 1);
  margin-top: 10px;
}

.encrypt-text p:nth-child(4) {
  max-width: 532px;
  /* height: .76rem; */
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  opacity: 0.85;
  text-align: center;
  margin-top: 30px;
}

.encrypt-img {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.encrypt-img img {
  max-width: 100%;
}

.big-box {
  height: 820px;
  overflow: hidden;
  position: relative;
}

.big-text {
  position: absolute;
  left: 50%;
  top: 33px;
  transform: translate(-50%);
  z-index: 2;
}

.big-text p {
  color: #fff;
}

.big-text p:nth-child(1) {
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  opacity: 0.85;
}

.big-box img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.6s;
}

.big-box img:hover {
  transform: scale(1.1);
}

.custom-two {
  width: 100%;
  height: 640px;
}

.custom-two img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.6s;
  transform: scale(1.1);
}

/* ---------- */
.both-box {
  width: 100%;
  height: 1030px;
  display: flex;
  align-items: center;
}

.analysis-box {
  width: 100%;
  height: 855px;
  display: flex;
  justify-content: center;
}

.analysis-contnet {
  width: 1200px;
  height: 100%;
  background: url(../../assets/img/s.png) no-repeat 50% 60%;
  background-size: 50% 50%;
}

.analysis-p {
  margin: 0;
  width: 100%;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 030px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  line-height: 70px;
  opacity: 0.85;
}

.analysis-btn {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.analysis-cannot {
  width: 200px;
  height: 36px;
  background: rgba(24, 144, 255, 1);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 70px;
  position: relative;
}

.analysis-cannot img {
  position: absolute;
  left: 75px;
}

.compete-box {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.com-box {
  width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.compete-text1 {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(235, 97, 0, 1);
}

.compete-text2 {
  font-size: 36px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 70px;
}

.compete-text3 {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(24, 144, 255, 1);
}

.analysis-ul {
  width: 100%;
  height: 509px;
  display: flex;
  justify-content: center;
  font-size: 016px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  line-height: 38px;
  position: relative;
}

.analysis-ul div {
  list-style: none;
}

.analysis-ul div:nth-of-type(1) {
  text-align: right;
  margin-top: 28px;
}

.analysis-ul div:nth-of-type(2) {
  width: 20px;
  height: 100%;
}

.analysis-ul div:nth-of-type(3) {
  text-align: left;
  margin-top: 28px;
  color: #1890FF;
}

.find-bg {
  height: 417px;
  background: rgba(24, 144, 255, 0.1);
}

.find-img {
  min-height: 300px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.findimg-box {
  height: 240px;
}

.findimg-box img {
  width: 100%;
  height: 200px;
  padding: 0;
}

.findimg-box p {
  width: 100%;
  height: 40px;
  background: rgba(24, 144, 255, 1);
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-two {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.custom-two img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.6s;
}

.custom-two img:hover {
  transform: scale(1.1);
}

.two-text {
  position: absolute;
  top: 0;
  left: 50%;
  height: 260px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-text p {
  margin: 0;
}

.two-text p:nth-child(1) {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 1;
  opacity: 0.85;
  text-align: center;
  margin-top: 96px;
}

.two-text p:nth-child(2) {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
}

.two-text p:nth-child(3) {
  width: 64px;
  height: 4px;
  background: rgba(255, 255, 255, 1);
  margin-top: 10px;
}

.two-text p:nth-child(4) {
  color: rgba(255, 255, 255, 1);
  max-width: 510px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.85;
  text-align: center;
  margin-top: 20px;
}

.analysis-img {
  display: none;
  height: 905px;
}

.analysis-yi {
  height: 905px;
  background: url(../../assets/img/customserve/shuangshiyi.png) 0 0 / 100% 100% no-repeat;
}

.custom-app {
  display: none;
  height: 100%;
  overflow: hidden;
}

.app-lunbo {
  /* width: 702px; */
  height: 802px;
  margin: 0 auto;
  background: rgba(24, 144, 255, 0.02);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-img img {
  width: 100%;
  height: 396px;
  border-radius: 0 0 20px 20px;
}

.dot-box {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-box ul {
  display: flex;
}

.dot-box ul li {
  list-style: none;
  width: 16px;
  height: 16px;
  background: rgba(204, 204, 204, 1);
  border-radius: 50%;
  margin: 0 10px;
}

.dotEspe {
  background: rgba(16, 142, 233, 1) !important;
}