<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/views/aboutus.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/header.css">
</head>

<body>
  <!-- 加入我们页面 -->
  <div class="aboutus-box">
   
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化<i class="iconfont arrows-left arrows-icon iconchangyongicon-"></i></p>
        <div class="footer-btn">
          <div class="btn-taste">免费体验</div>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <li>数据可视化平台</li>
              <li>数据服务</li>
              <li>可视化定制化服务</li>
              <li>知识云系统</li>
            </ul>
            <ul>
              <li>解决方案</li>
              <li class="li-active">智慧城市</li>
              <li>智慧工厂</li>
              <li>智慧能源</li>
              <li>智慧交通</li>
              <li>智慧金融</li>
              <li>智慧教育</li>
              <li>智慧政务</li>
              <li>智慧医疗</li>
            </ul>
            <ul>
              <li>客户案例</li>
              <li>宝马项目案例</li>
              <li>伊利项目案例</li>
              <li>国家能源集团</li>
              <li>华厚能源项目</li>
              <li>中国石化</li>
            </ul>
            <ul>
              <li>用户中心</li>
              <li>产品白皮书</li>
              <li>使用手册</li>
              <li>视频教学</li>
            </ul>
            <ul>
              <li>关于我们</li>
              <li>公司介绍</li>
              <li>加入我们</li>
              <li>新闻资讯</li>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接： 千锋教育 阿里蜘蛛 PS教程 小程序开发 联想商用电脑推广
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/plugs/jquery.js"></script>
<!-- <script src="../js/plugs/convert.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/rollList.js"></script>
<script>
  // $(function () {
  //   $(".dropdown-toggle").on("mouseover", function () {
  //     $(".dropdown-menu").show();

  //   })
  //   $(".dropdown-toggle").on("mouseout", function () {
  //     $(".dropdown-menu").hide();
  //   })
  // })
</script>

</html>