<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/aboutus.css">
  <link rel="stylesheet" href="../css/appstyle/appAboutus.css">
</head>

<body>
  <!-- 加入我们页面 -->
  <div class="aboutus-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="../index.html">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="../index.html">首页</a></li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">产品服务<span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./ProductSerice.html">数据服务</a></li>
                  <li><a href="./CustomServe.html">可视化定制服务</a></li>
                  <li><a href="./ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">解决方案<span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="javascript:void(0)">智慧城市</a></li>
                  <li><a href="javascript:void(0)">智慧工厂</a></li>
                  <li><a href="./SmartFinance.html">智慧金融</a></li>
                  <li><a href="javascript:void(0)">智慧交通</a></li>
                  <li><a href="./Solution.html">智慧能源</a></li>
                  <li><a href="javascript:void(0)">智慧教育</a></li>
                  <li><a href="javascript:void(0)">智慧政务</a></li>
                  <li><a href="javascript:void(0)">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./UserCenter.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./CompanyLetter.html">公司介绍</a></li>
                  <li><a class="navActive" href="javascript:void(0)">加入我们</a></li>
                  <li><a href="./NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>

          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <div class="video-box">
      <div class="video-text">开维创科技</div>
    </div>
    <div class="aboutus-content">
      <div class="aboutus-list">
        <div class="list-headr">
          <div class="head-us">
            <p>加入我们</p>
            <p>join us</p>
            <div><span class="crumbs-box"></span></div>
            <div class="head-text">
              <span>我们提供具有竞争力的工资，员工福利包括员工保险、员工团建、员工体检等，同时我们还为研发部门的技术人员提供丰富的晚餐以及饮料、水果。在这里你不仅可以提升自己的能力，还可以学习大数据方面的知识。</span>
            </div>
          </div>
        </div>
        <div class="Message-box">
          <div class="Message-text">
            <p class="Message-title">招聘岗位：Java架构师</p>
            <ul>
              <li>岗位职责：</li>
              <li>1、负责公司核心业务系统架构设计与搭建，结合公司实际业务进行技术选型；</li>
              <li>2、负责系统架构的优化及系统性能的优化，协助团队解决开发过程中的技术难题；</li>
              <li>3、参与公司核心业务系统的设计工作，进行功能模块的详细设计，并按项目管理规范的要求编制设计文档；</li>
              <li>4、完成核心模块的代码实现，并按项目管理规范编写相应的技术文档；</li>
              <li>5、负责新技术的调研，并能在团队内进行推广应用。</li>
            </ul>
            <ul>
              <li>岗位职责：</li>
              <li>1、负责公司核心业务系统架构设计与搭建，结合公司实际业务进行技术选型；</li>
              <li>2、负责系统架构的优化及系统性能的优化，协助团队解决开发过程中的技术难题；</li>
              <li>3、参与公司核心业务系统的设计工作，进行功能模块的详细设计，并按项目管理规范的要求编制设计文档；</li>
              <li>4、完成核心模块的代码实现，并按项目管理规范编写相应的技术文档；</li>
              <li>5、负责新技术的调研，并能在团队内进行推广应用。</li>
            </ul>
          </div>
          <div class="line-box">
            <p></p>
          </div>
          <div class="Message-text">
            <p class="Message-title">招聘岗位：Java架构师</p>
            <ul>
              <li>岗位职责：</li>
              <li>1、负责公司核心业务系统架构设计与搭建，结合公司实际业务进行技术选型；</li>
              <li>2、负责系统架构的优化及系统性能的优化，协助团队解决开发过程中的技术难题；</li>
              <li>3、参与公司核心业务系统的设计工作，进行功能模块的详细设计，并按项目管理规范的要求编制设计文档；</li>
              <li>4、完成核心模块的代码实现，并按项目管理规范编写相应的技术文档；</li>
              <li>5、负责新技术的调研，并能在团队内进行推广应用。</li>
            </ul>
            <ul>
              <li>岗位职责：</li>
              <li>1、负责公司核心业务系统架构设计与搭建，结合公司实际业务进行技术选型；</li>
              <li>2、负责系统架构的优化及系统性能的优化，协助团队解决开发过程中的技术难题；</li>
              <li>3、参与公司核心业务系统的设计工作，进行功能模块的详细设计，并按项目管理规范的要求编制设计文档；</li>
              <li>4、完成核心模块的代码实现，并按项目管理规范编写相应的技术文档；</li>
              <li>5、负责新技术的调研，并能在团队内进行推广应用。</li>
            </ul>
          </div>
          <div class="line-box">
            <p></p>
          </div>
          <div class="Message-text">
            <p class="Message-title">招聘岗位：Java架构师</p>
            <ul>
              <li>岗位职责：</li>
              <li>1、负责公司核心业务系统架构设计与搭建，结合公司实际业务进行技术选型；</li>
              <li>2、负责系统架构的优化及系统性能的优化，协助团队解决开发过程中的技术难题；</li>
              <li>3、参与公司核心业务系统的设计工作，进行功能模块的详细设计，并按项目管理规范的要求编制设计文档；</li>
              <li>4、完成核心模块的代码实现，并按项目管理规范编写相应的技术文档；</li>
              <li>5、负责新技术的调研，并能在团队内进行推广应用。</li>
            </ul>
            <ul>
              <li>岗位职责：</li>
              <li>1、负责公司核心业务系统架构设计与搭建，结合公司实际业务进行技术选型；</li>
              <li>2、负责系统架构的优化及系统性能的优化，协助团队解决开发过程中的技术难题；</li>
              <li>3、参与公司核心业务系统的设计工作，进行功能模块的详细设计，并按项目管理规范的要求编制设计文档；</li>
              <li>4、完成核心模块的代码实现，并按项目管理规范编写相应的技术文档；</li>
              <li>5、负责新技术的调研，并能在团队内进行推广应用。</li>
            </ul>
          </div>
        </div>
        <div class="Message-footer">
          <div>
            <p>欢迎各位能人猛将加入开维创家庭。</p>
            <p>可直接发简历至邮箱<span>hr@******.cn</span>或电话联系<span>************</span>（李女士）</br>期待您的加入。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
</html>