<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/clientcase.css">
  <link rel="stylesheet" href="../css/appstyle/appClient.css">
</head>

<body>
  <!-- 知识云系统页面   国珍知识库 -->
  <div class="detail-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container container2">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="../index.html">
              <img src="../assets/img/LOGO.png" alt="">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navCenter" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownShow"><a href="./views/ClientCase.html">首页</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button"
                  aria-haspopup="true" aria-expanded="false"><text>产品服务</text><span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../views/VisualTerrace.html"><text>数据可视化平台</text></a></li>
                  <li><a href="../views/ProductSerice.html"><text>数据服务</text></a></li>
                  <li><a href="../views/CustomServe.html"><text>可视化定制服务</text></a></li>
                  <li><a href="#"><text>知识云系统</text></a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button"
                  aria-haspopup="true" aria-expanded="false"><text>解决方案</text><span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-double" style="min-width: 1.44rem;">
                  <div><a href="#"><text>智慧城市</text></a></div>
                  <div><a href="#"><text>智慧工厂</text></a></div>
                  <div><a href="./SmartFinance.html"><text>智慧金融</text></a></div>
                  <div><a href="#"><text>智慧交通</text></a></div>
                  <div><a href="./Solution.html"><text>智慧能源</text></a></div>
                  <div><a href="#"><text>智慧教育</text></a></div>
                  <div><a href="#"><text>智慧政务</text></a></div>
                  <div><a href="#"><text>智慧医疗</text></a></div>
                </ul>
              </li>
              <li class="dropdown btnBox"><a class="navActive" href="../views/ClientCase.html"><text>客户案例</text></a>
              </li>
              <li class="dropdown btnBox"><a href="../views/UserCenter.html"><text>用户中心</text></a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false"><text>关于我们</text><span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../views/CompanyLetter.html"><text>公司介绍</text></a></li>
                  <li><a href="../views/Aboutus.html"><text>加入我们</text></a></li>
                  <li><a href="../views/NewsList.html"><text>新闻资讯</text></a></li>
                </ul>
              </li>
            </ul>

          </div><!-- /.navbar-collapse -->
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="client-box">
      <div class="client-top">
        <div class="top-text">
          <p>国珍知识库</p>
          <p class="line-text"><span></span><span>知识云系统</span><span></span></p>
        </div>
      </div>
      <div class="client-content row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-xs-12 col-lg-10 col-md-10 client-referral row">
          <div class="col-xs-12 col-lg-8 col-md-8 client-left ">
            <div class="referral-name">
              <div><img src="../assets/img/client/logo.png" alt=""></div>
              新时代健康产业(集团)有限公司成立于2004年10月29日，注册地位于北京市昌平区科学园路10号院1号楼，法人代表为刘国平。经营范围包括以直销方式销售本公司控股公司烟台新时代健康产业有限公司、烟台新时代健康产业日化有限公司生产的产品,
              国珍，是新时代健康产业集团的保健食品和营养食品品牌，该品牌定位为“中华养生，荟萃精华”，以“天然、科技、平衡”为核心价值。新时代健康产业(集团)有限公司对外投资5家公司，具有32处分支机构。
            </div>
            <div class="referral-setting">
              <p>项目背景</p>
              <p>
                随着企业的强大多元化等发展，国珍的客户倍数增加，客户服务要求增高、服务效率偏低。在经过企业内部领导开会商讨下，国珍决定制作企业知识库管理系统，帮助企业坐席高效率服务客户，客服中心知识管理系统是指“知识”和“规则”的管理系统，它以知识库为核心，以检索查询为主要手段，通过对客服中心各类知识的管理，最终将它们演变成客服中心可重复利用的组织知识。
              </p>
            </div>
            <div class="referral-setting">
              <p>项目成果</p>
              <p>
                通过知识管理系统，企业坐席在服务客户时可提出问题、回答问题、采编知识等流程，实现国珍企业知识库的知识储存，知识管理和知识搜索，并有效的帮助客服服务用户，提高客服回答用户问题效率，达到准确、高效率服务。从而提高坐席的呼叫一次性完成率，减少后继处理流程，提高客户满意度。
              </p>
            </div>
            <div class="referral-img">
              <p>知识库系统（页面）</p>
              <div>
                <img src="../assets/img/client/zhishi-01.png" alt="">
              </div>
              <p class="referral-text">知识搜索：知识内容搜索，可根据知识树菜单搜索，搜索可分普通搜索和高级搜索，界面展示热点知识、最新知识、最新通过在、我的收藏列表</p>
            </div>
            <div class="referral-img">
              <p>在线提问</p>
              <div>
                <img src="../assets/img/client/zhishi-02.png" alt="">
              </div>
              <div>
                <img src="../assets/img/client/zhishi-03.png" alt="">
              </div>
              <div>
                <img src="../assets/img/client/zhishi-04.png" alt="">
              </div>
              <p class="referral-text">在线提问：操作人员可在线提问问题，等待回答 ，可以在提问列表中观看问题状态，回答问题，审核问题知识，达到问题知识导入知识库系统。</p>
            </div>
            <div class="referral-img">
              <p>提问列表</p>
              <div>
                <img src="../assets/img/client/zhishi-05.png" alt="">
              </div>
              <p class="referral-text">提问列表：展示操作用户的提问列表展示，提问问题的每个状态列表展示，可以观看问题状态情况（待回答、待审核、已通过），坐席、知识专家进行回答、审核人员操作审核。
              </p>
            </div>
            <div class="referral-img">
              <p>回答界面</p>
              <div>
                <img src="../assets/img/client/zhishi-06.png" alt="">
              </div>
            </div>
            <div class="referral-img">
              <p>审核界面</p>
              <div>
                <img src="../assets/img/client/zhishi-07.png" alt="">
              </div>
            </div>
            <div class="referral-img">
              <p>知识采编</p>
              <div>
                <img src="../assets/img/client/zhishi-08.png" alt="">
              </div>
              <p class="referral-text">知识采编：问题知识的采编，添加，导入知识，问题知识的列表管理，采编管理有知识采编、评价管理、待解决问题3个功能板块。</p>
            </div>
            <div class="referral-img">
              <p>回答界面</p>
              <div>
                <img src="../assets/img/client/zhishi-09.png" alt="">
              </div>
            </div>
            <div class="referral-setting">
              <p>系统详细</p>
              <p>系统更详细界面请点击 <span class="active">在线了解</span> 按钮联系我们，我们将会为你提供全方位服务。</p>
            </div>
            <div class="referral-setting referral-setting2">
              <p>项目收益</p>
              <p>
                国珍企业通过知识库系统有效的提高了坐席服务客户的效率，提高坐席回答用户问题效率，达到准确、高效率服务，加大了客户满意度，进而促进了客户的下一次消费。也帮助企业储存了有价值的知识，在信息时代里，知识已成为最主要的财富来源，而知识工作者就是最有生命力的资产，组织和个人的最重要任务就是对知识进行管理。
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-lg-4 col-md-4 client-right row">
            <div class="client-fixed">
              <div class="client-dynamic col-lg-12">
                <div class="dynamic-text">
                  <img src="../assets/img/client/icon.png" alt="">
                  <span>新闻动态</span>
                  <p></p>
                </div>
                <div class="dynamic-img">
                  <img src="../assets/img/client/icon-screen.png" alt="">
                  <div>
                    <a class="link" href="###">我国首套自主研发的智能发电控制系统...</a>
                    <p>2019-11-09</p>
                  </div>
                </div>
                <div class="dynamic-list">
                  <p><span>·</span><a class="link" href="###"> 开维创助力华厚能源实现工业智能数据...</a></p>
                  <p><span>·</span><a class="link" href="###"> 大数据技术找到特种行业的犯罪线索</a></p>
                  <p><span>·</span><a class="link" href="###"> 基于5G技术和3D技术，实现工业数据...</a></p>
                  <p><span>·</span><a class="link" href="###"> 如何进行数据分析和数据可视化规划</a></p>
                </div>
              </div>
              <div class="right-img">
                <a href="###"><img src="../assets/img/client/banner-01.png" alt=""></a>
                <a href="###"><img src="../assets/img/client/banner-02.png" alt=""></a>
                <a href="###"><img src="../assets/img/client/banner-03.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化<i class="iconfont arrows-left arrows-icon iconchangyongicon-"></i></p>
        <div class="footer-btn">
          <div class="btn-taste">免费体验</div>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <li>数据可视化平台</li>
              <li>数据服务</li>
              <li>可视化定制化服务</li>
              <li>知识云系统</li>
            </ul>
            <ul>
              <li>解决方案</li>
              <li class="li-active">智慧城市</li>
              <li>智慧工厂</li>
              <li>智慧能源</li>
              <li>智慧交通</li>
              <li>智慧金融</li>
              <li>智慧教育</li>
              <li>智慧政务</li>
              <li>智慧医疗</li>
            </ul>
            <ul>
              <li>客户案例</li>
              <li>宝马项目案例</li>
              <li>伊利项目案例</li>
              <li>国家能源集团</li>
              <li>华厚能源项目</li>
              <li>中国石化</li>
            </ul>
            <ul>
              <li>用户中心</li>
              <li>产品白皮书</li>
              <li>使用手册</li>
              <li>视频教学</li>
            </ul>
            <ul>
              <li>关于我们</li>
              <li>公司介绍</li>
              <li>加入我们</li>
              <li>新闻资讯</li>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接： 千锋教育 阿里蜘蛛 PS教程 小程序开发 联想商用电脑推广
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>

</html>