<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/companyletter.css">
  <link rel="stylesheet" href="../css/appstyle/appCompany.css">
</head>

<body>
  <!-- 公司介绍页面 -->
  <div class="letter-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="../index.html">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="../index.html">首页</a></li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">产品服务<span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./ProductSerice.html">数据服务</a></li>
                  <li><a href="./CustomServe.html">可视化定制服务</a></li>
                  <li><a href="./ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">解决方案<span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="javascript:void(0)">智慧城市</a></li>
                  <li><a href="javascript:void(0)">智慧工厂</a></li>
                  <li><a href="./SmartFinance.html">智慧金融</a></li>
                  <li><a href="javascript:void(0)">智慧交通</a></li>
                  <li><a href="./Solution.html">智慧能源</a></li>
                  <li><a href="javascript:void(0)">智慧教育</a></li>
                  <li><a href="javascript:void(0)">智慧政务</a></li>
                  <li><a href="javascript:void(0)">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./UserCenter.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="navActive" href="javascript:void(0)">公司介绍</a></li>
                  <li><a href="./Aboutus.html">加入我们</a></li>
                  <li><a href="./NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>

          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <!-- 公司介绍 -->
    <div class="letter-content">
      <div class="dummy-title">
        <p>欢迎来到开维创</p>
        <p>Welcome To kwcent</p>
        <p>让我来介绍一下我自己</p>
      </div>
      <!-- 介绍内容 -->
      <div class="dummy-content">
        <div class="company-intro container">
          <div class="row company-center">
            <div class="company-title col-md-12 col-xs-12 col-lg-12">
              <p class="int-p">公司介绍</p>
              <p class="int-pt">Industry background</p>
              <div class="int-box"><span></span></div>
            </div>
            <div class="company-text col-md-12 col-xs-12 col-lg-12 container">
              <div class="row company-appose">
                <div class="company-box col-lg-5 col-md-5 col-xs-12"><img src="../assets/img/image_gsjs.png" alt="">
                </div>
                <div class="text col-lg-7 col-md-7 col-xs-12">
                  <p>北京开维创科技有限公司成立于2012年，注册资金5100万，是一家致力于ICT系统集成、高端软件定制、数据产业服务（数据采集、分析、展示、安全防护等）、AI智能的互联网综合服务公司。</p>
                  <p>
                    公司成立以来本着以“以诚为本、创新优化、品质服务”的经营理念，在大数据领域获得8项软件著作权并拥有独立知识产权。其中包括：大数据采集系统、大数据可视化系统、大数据分析系统、实时数据处理平台、海量存储系统等，在同行业中处于领先地位，先后为全国各地的电力、煤炭等能源行业提供管理预警系统和可视化平台。在智慧城市、制造生产、便民医疗等多个领域均做出贡献。
                  </p>
                  <p>公司现有员工近百人，拥有顶级技术开发团队，其中公司中 PHP工程师、Java工程师、golang工程师、UI设计师、架构师、产品经理、测试工程师、运维工程师、大数据工程师等曾任职于海外互联网公司。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="company-information container">
          <div class="row">
            <div class="information-text col-lg-7 col-md-7 col-sm-12">
              <div>
                <p>大数据</p>
                <p></p>
                <p>纷繁复杂的数据会给数据管理增加难度， 我可以为您进行大数据分析，日志抓取， 大数据展示，让您在数据管理上如虎添翼。</p>
              </div>
            </div>
            <div class="information-img col-lg-5 col-md-5 col-sm-12">
              <img src="../assets/img/image_dsj.png" alt="">
            </div>
          </div>
        </div>
        <div class="company-information container company-information2">
          <div class="row">
            <div class="information-text col-lg-7 col-md-7">
              <div>
                <p>高端定制</p>
                <p></p>
                <p>选择“高端定制”服务，注定收获完美品质！我可以以您为中心，打造专属服务，让您提升效益。已经为国家电网制定专属解决方案，相信我，您的企业将会更上一层楼。</p>
              </div>
            </div>
            <div class="information-img col-lg-5 col-md-5">
              <img src="../assets/img/image_gddz.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>

</html>