<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/customserve.css">
  <link rel="stylesheet" href="../css/appstyle/appCustom.css">
</head>

<body>
  <!-- 可视化定制服务页面 -->
  <div class="detail-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="../index.html">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="../index.html">首页</a></li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle navActive" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">产品服务<span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./ProductSerice.html">数据服务</a></li>
                  <li><a class="navActive" href="javascript:void(0)">可视化定制服务</a></li>
                  <li><a href="./ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">解决方案<span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="javascript:void(0)">智慧城市</a></li>
                  <li><a href="javascript:void(0)">智慧工厂</a></li>
                  <li><a href="./SmartFinance.html">智慧金融</a></li>
                  <li><a href="javascript:void(0)">智慧交通</a></li>
                  <li><a href="./Solution.html">智慧能源</a></li>
                  <li><a href="javascript:void(0)">智慧教育</a></li>
                  <li><a href="javascript:void(0)">智慧政务</a></li>
                  <li><a href="javascript:void(0)">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./UserCenter.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">关于我们<span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./CompanyLetter.html">公司介绍</a></li>
                  <li><a href="./Aboutus.html">加入我们</a></li>
                  <li><a href="./NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>

          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <!-- 可视化定制服务 -->
    <div class="custom-box">
      <div class="top-box  costom-top">
        <div class="container ">
          <div class="row">
            <div class="col-lg-1 col-xs-1"></div>
            <div class="col-lg-10 col-xs-10">
              <div class="visu-box">
                <p class="top-text">可视化定制服务</p>
                <p class="top-text2">数维可视化专业定制服务体系</p>
                <div class="top-text3">优秀设计师团队协助企业展现数据可视化魅力
                  <span class="top-into">
                    》
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-xs-1"></div>
          </div>
        </div>
      </div>
      <div class="custom-one row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-xs-12 row">
          <div class="col-lg-12 col-xs-12 custom-text one-text">
            <p>可视化设计组件，可自由布局</p>
            <p>可视化设计组件可自由布局</p>
            <p class="center-block"></p>
            <p class="center-block">提供丰富的可视化组件，通过拖拽操作即可进行布局，实现数据可视化展示，满足用户DIY需求</p>
          </div>
          <div class="col-lg-12 col-xs-12 one-img">
            <img src="../assets/img/customserve/mac01.png" alt="">
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      <div class="custom-two row">
        <img src="../assets/img/customserve/c-02.png" alt="">
        <div class="two-text">
          <p>3D可视化服务，满足企业内部需求</p>
          <p></p>
          <p>提供3D可视化服务，满足企业的内控多级贯彻,实现管理权限统一化、执行可视化、全局可控化。</p>
        </div>
      </div>
      <div class="custom-three row">
        <div class="tab-boxImg">
          <div class="three-text">
            <p>多样风格展示，满足用户定制化需求</p>
            <p class="center-block"></p>
            <p class="center-block">多种数据可视化主题风格展示，适用于多种业务场景，包括指挥中心、业务看牌、报告展示等，可以根据不同的业务需求选择合适的模板，用户也可以自由定制样式和风格。</p>
          </div>
          <div class="three-img row">
            <div class="three-btn btn-position">
              <div>上一组</div>
            </div>
            <div class="three-content col-lg-12 col-xs-12">
              <img src="../assets/img/customserve/pic001.png" alt="">
              <img src="../assets/img/customserve/pic002.png" alt="">
              <img src="../assets/img/customserve/pic003.png" alt="">
              <img src="../assets/img/customserve/pic004.png" alt="">
            </div>
            <div class="three-btn btn-position2">
              <div>换一组</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 移动端轮播 -->
      <div class="custom-carousel">
        <div class="carousel-text">
          <p>多样风格展示，满足用户定制化需求</p>
          <p class="center-block">多种数据可视化主题风格展示，适用于多种业务场景，包括指挥中心、业务看牌、报告展示等，可以根据不同的业务需求选择合适的模板，用户也可以自由定制样式和风格。</p>
        </div>
        <div class="carousel-box">
          <div class="carousel-img">
            <img src="../assets/img/customserve/pic001.png" alt="">
            <img src="../assets/img/customserve/pic002.png" alt="">
            <img src="../assets/img/customserve/pic003.png" alt="">
            <img src="../assets/img/customserve/pic004.png" alt="">
          </div>
          <div class="carousel-index">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="custom-four row">
        <img src="../assets/img/customserve/ding-01.png" alt="">
        <div class="two-text">
          <p>顶级顾问服务，专业技术开发团队</p>
          <p></p>
          <p>拥有多名技术大牛和顶级技术顾问，提供一站式数据可视化大屏幕解决方案。</p>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script>
  $(document).ready(function () {
    carousel()
  });

  function carousel() {
    $('.carousel-img img').eq(0).show().siblings('.carousel-img img').hide();
    var j = 0
    var customLunbo = null

    function appTime() {
      j++;
      //当图片是最后一张的后面时，设置图片为第一张
      if (j == 3) {
        j = 0;
      }
      for (var i = 0; i < $('.carousel-img img').length; i++) {
        $('.carousel-img img').eq(i).hide()
        $(".carousel-index ul li").eq(i).css("background", "rgba(204, 204, 204, 1)");
      }
      $('.carousel-img img').eq(j).show()
      $(".carousel-index ul li").eq(j).css("background", "#108EE9");
    }
    customLunbo = setInterval(appTime, 2000)
  }
</script>

</html>