<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/views/newsdetail.css">
  <link rel="stylesheet" href="../css/views/newslist.css">
  <link rel="stylesheet" href="../css/components/empty.css">
</head>

<body>
  <!-- 新闻质询详情页面 -->
  <div class="detail-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container container2">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="../index.html">
              <img src="../assets/img/LOGO.png" alt="">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navCenter" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownShow"><a href="../index.html">首页</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button"
                  aria-haspopup="true" aria-expanded="false"><text>产品服务</text><span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../views/VisualTerrace.html"><text>数据可视化平台</text></a></li>
                  <li><a href="../views/ProductSerice.html"><text>数据服务</text></a></li>
                  <li><a href="../views/CustomServe.html"><text>可视化定制服务</text></a></li>
                  <li><a href="../views/ClientCase.html"><text>知识云系统</text></a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button"
                  aria-haspopup="true" aria-expanded="false"><text>解决方案</text><span
                    class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                    <ul class="dropdown-menu dropdown-double" style="min-width: 1.44rem;">
                      <div><a href="#"><text>智慧城市</text></a></div>
                      <div><a href="#"><text>智慧工厂</text></a></div>
                      <div><a href="./SmartFinance.html"><text>智慧金融</text></a></div>
                      <div><a href="#"><text>智慧交通</text></a></div>
                      <div><a href="./Solution.html"><text>智慧能源</text></a></div>
                      <div><a href="#"><text>智慧教育</text></a></div>
                      <div><a href="#"><text>智慧政务</text></a></div>
                      <div><a href="#"><text>智慧医疗</text></a></div>
                    </ul>
              </li>
              <li class="dropdown btnBox"><a href="../views/ClientCase.html"><text>客户案例</text></a></li>
              <li class="dropdown btnBox"><a href="../views/UserCenter.html"><text>用户中心</text></a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false"><text>关于我们</text><span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="../views/CompanyLetter.html"><text>公司介绍</text></a></li>
                  <li><a href="../views/Aboutus.html"><text>加入我们</text></a></li>
                  <li class="active-index dropdownActive"><a class="navActive" href="#"><text>新闻资讯</text></a></li>
                </ul>
              </li>
            </ul>

          </div><!-- /.navbar-collapse -->
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <!-- 新闻内容 -->
    <div class="detail-content">
      <div class="information-box">
        <div class="crumbs-box">关于我们 > 新闻资讯 > <span>详情</span></div>
        <!-- 新闻资讯的文章 -->
        <div class="detail-article">
          <div class="article-left">
            <p>如何进行数据分析和可视化规划（一）</p>
            <p>2019-10-28 09:19:02</p>
            <div class="article-text">
              <div class="section-text">
                中国北京国际科技产业博览会创办于1998年，当时定名为“中国北京高新技术产业国际周”，从2002年第五届起正式更名为科博会，迄今已连续举办20届，逐步打造成集综合活动、展览展示、推介交易、论坛会议、网上展示推介“五位一体”的活动架构，成为国内外展示最新科技成果、传播前沿思想理念、发布产业政策信息、促进国际经济技术合作的专业化、国际化水平较高的标志性品牌活动。
              </div>
              <div class="section-text">
                据不完全统计，前20届科博会先后有100多个国家和地区的900余个境外政府和科技经贸代表团组参加科博会，有35004家高新技术企业和科研院所推出最新技术成果，参与科博会的各界人士累计达到542万人次；先后共举办221个专题近千场次高层论坛和专项交流活动，境内外知名科学家、经济学家、著名企业首脑到会演讲5426人次；举办涉及国内外投资合作、技术贸易、城市发展重点项目等经贸洽谈活动230场，参加中外客商约12万余人次，签署合同、协议、意向5509个，总金额9961.9亿元人民币。科博会的成功举办，为促进产学研用融合贯通提供了务实链接，为新动能成长和传统动能改造提升提供了技术示范，为深化国际产能合作、拓展科技创新空间提供了重要平台。
              </div>
              <div class="section-img1 section-img"></div>
              <div class="section-text">
                据不完全统计，前20届科博会先后有100多个国家和地区的900余个境外政府和科技经贸代表团组参加科博会，有35004家高新技术企业和科研院所推出最新技术成果，参与科博会的各界人士累计达到542万人次；先后共举办221个专题近千场次高层论坛和专项交流活动，境内外知名科学家、经济学家、著名企业首脑到会演讲5426人次；举办涉及国内外投资合作、技术贸易、城市发展重点项目等经贸洽谈活动230场，参加中外客商约12万余人次，签署合同、协议、意向5509个，总金额9961.9亿元人民币。科博会的成功举办，为促进产学研用融合贯通提供了务实链接，为新动能成长和传统动能改造提升提供了技术示范，为深化国际产能合作、拓展科技创新空间提供了重要平台。
              </div>
              <div class="section-img2 section-img"></div>
              <div class="section-text">北京华厚能源科技有限公司（HUAHOU ENERGY TECHNOLOGY
                CO.,LTD.）是中国的一家高科技能源公司，成立于2016年4月，总部位于首都北京。致力于先进储能技术创新和能源互联网技术创新，在同领域内处于技术领先地位。</div>
            </div>
            <div class="article-btn">
              <div class="btn-page">
                <a href="###" class="left-page btn-same">上一篇</a>
                <a href="###" class="right-page btn-same">下一篇</a>
              </div>
              <div class="btn-page">
                <div class="left-pagination pagination-text">已是第一篇</div>
                <div class="right-pagination pagination-text">如何进行数据分析和可视化规划（二）</div>
              </div>
            </div>
            <div class="page-box">

            </div>
          </div>
          <!-- 相关资讯 -->
          <div class="article-right">
            <div class="list-crumbs">
              <p></p><span>相关资讯</span>
            </div>
            <div class="list-line">
              <p></p>
            </div>
            <div class="consult-content">
              <div class="consult-text">
                <div class="serial-box serial-hover"></div>
                <div class="serial-text">
                  <p>2019-08-09</p>
                  <p class="serial-hover"><a href="###">数据提出“大数据”时代到来的是全球</a></p>
                </div>
              </div>
              <div class="consult-text">
                <div class="serial-box serial-hover"></div>
                <div class="serial-text">
                  <p>2019-08-09</p>
                  <p class="serial-hover"><a href="###">数据提出“大数据”时代到来的是全球</a></p>
                </div>
              </div>
              <div class="consult-text">
                <div class="serial-box serial-hover"></div>
                <div class="serial-text">
                  <p>2019-08-09</p>
                  <p class="serial-hover"><a href="###">数据提出“大数据”时代到来的是全球</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 页脚 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化<i class="iconfont arrows-left arrows-icon iconchangyongicon-"></i></p>
        <div class="footer-btn">
          <div class="btn-taste">免费体验</div>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <li>数据可视化平台</li>
              <li>数据服务</li>
              <li>可视化定制化服务</li>
              <li>知识云系统</li>
            </ul>
            <ul>
              <li>解决方案</li>
              <li class="li-active">智慧城市</li>
              <li>智慧工厂</li>
              <li>智慧能源</li>
              <li>智慧交通</li>
              <li>智慧金融</li>
              <li>智慧教育</li>
              <li>智慧政务</li>
              <li>智慧医疗</li>
            </ul>
            <ul>
              <li>客户案例</li>
              <li>宝马项目案例</li>
              <li>伊利项目案例</li>
              <li>国家能源集团</li>
              <li>华厚能源项目</li>
              <li>中国石化</li>
            </ul>
            <ul>
              <li>用户中心</li>
              <li>产品白皮书</li>
              <li>使用手册</li>
              <li>视频教学</li>
            </ul>
            <ul>
              <li>关于我们</li>
              <li>公司介绍</li>
              <li>加入我们</li>
              <li>新闻资讯</li>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接： 千锋教育 阿里蜘蛛 PS教程 小程序开发 联想商用电脑推广
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../js/plugs/jquery.js"></script>
<script src="../js/plugs/convert.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/rollList.js"></script>
<script>
  // 4.调用插件
  var box = new CustomPagination('#page', {
    total: 99,//总页数
    changePage: function (pageNum) {//切换页码成功回调
      console.log('当前页码：' + pageNum)
    }
  });
</script>

</html>