<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/newslist.css">
  <link rel="stylesheet" href="../css/components/custom-pagination.min.css">
  <link rel="stylesheet" href="../css/appstyle/appNewlist.css">
</head>

<body>
  <!-- 新闻质询页面 -->
  <div class="newslist-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="#">首页</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">产品服务<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./views/ProductSerice.html">数据服务</a></li>
                  <li><a href="./views/CustomServe.html">可视化定制服务</a></li>
                  <li><a href="./views/ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">解决方案<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="#">智慧城市</a></li>
                  <li><a href="#">智慧工厂</a></li>
                  <li><a href="./views/SmartFinance.html">智慧金融</a></li>
                  <li><a href="#">智慧交通</a></li>
                  <li><a href="./views/Solution.html">智慧能源</a></li>
                  <li><a href="#">智慧教育</a></li>
                  <li><a href="#">智慧政务</a></li>
                  <li><a href="#">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./views/ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./views/UserCenter.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/CompanyLetter.html">公司介绍</a></li>
                  <li><a href="./views/Aboutus.html">加入我们</a></li>
                  <li><a href="./views/NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <div class="newslist-content">
      <div class="newabou-head">
        <div class="newshead-box">新闻资讯</div>
      </div>
      <div class="newabout-box">
        <div class="newabout-list">
          <div class="list-box">
            <div class="list-crumbs">
              <p></p><span>新闻动态</span>
            </div>
            <div class="list-details">
              <div class="list-line">
                <p></p>
              </div>
              <div class="details-box">
                <div class="details-content">
                  <div class="details-img">
                    <img src="../assets/img/news-02.png" alt="">
                  </div>
                  <div class="details-text">
                    <p><a href="javascript:void(0)">专业总结：您在做数据分析会犯的几个错误（一）</a></p>
                    <p>数据分析是一项科学严谨的工作，分析结果往往被用作企业决策的重要指导，因此必须保证分析结果的可靠性。然而，员工很容易在数据...</p>
                    <div class="details-look">
                      <div>2019-08-19</div>
                      <div><a href="./NewsDetail.html">查看全部 >></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="details-box">
                <div class="details-content">
                  <div class="details-img">
                    <img src="../assets/img/news-03.png" alt="">
                  </div>
                  <div class="details-text">
                    <p><a href="javascript:void(0)">专业总结：您在做数据分析会犯的几个错误（一）</a></p>
                    <p>数据分析是一项科学严谨的工作，分析结果往往被用作企业决策的重要指导，因此必须保证分析结果的可靠性。然而，员工很容易在数据...</p>
                    <div class="details-look">
                      <div>2019-08-19</div>
                      <div><a href="./NewsDetail.html">查看全部 >></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="details-box">
                <div class="details-content">
                  <div class="details-img">
                    <img src="../assets/img/news-04.png" alt="">
                  </div>
                  <div class="details-text">
                    <p><a href="javascript:void(0)">专业总结：您在做数据分析会犯的几个错误（一）</a></p>
                    <p>数据分析是一项科学严谨的工作，分析结果往往被用作企业决策的重要指导，因此必须保证分析结果的可靠性。然而，员工很容易在数据...</p>
                    <div class="details-look">
                      <div>2019-08-19</div>
                      <div><a href="./NewsDetail.html">查看全部 >></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="details-box">
                <div class="details-content">
                  <div class="details-img">
                    <img src="../assets/img/news-05.png" alt="">
                  </div>
                  <div class="details-text">
                    <p><a href="javascript:void(0)">专业总结：您在做数据分析会犯的几个错误（一）</a></p>
                    <p>数据分析是一项科学严谨的工作，分析结果往往被用作企业决策的重要指导，因此必须保证分析结果的可靠性。然而，员工很容易在数据...</p>
                    <div class="details-look">
                      <div>2019-08-19</div>
                      <div><a href="./NewsDetail.html">查看全部 >></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="details-box">
                <div class="details-content">
                  <div class="details-img">
                    <img src="../assets/img/news-06.png" alt="">
                  </div>
                  <div class="details-text">
                    <p><a href="javascript:void(0)">专业总结：您在做数据分析会犯的几个错误（一）</a></p>
                    <p>数据分析是一项科学严谨的工作，分析结果往往被用作企业决策的重要指导，因此必须保证分析结果的可靠性。然而，员工很容易在数据...</p>
                    <div class="details-look">
                      <div>2019-08-19</div>
                      <div><a href="./NewsDetail.html">查看全部 >></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="details-box">
                <div class="details-content">
                  <div class="details-img">
                    <img src="../assets/img/news-07.png" alt="">
                  </div>
                  <div class="details-text">
                    <p><a href="javascript:void(0)">专业总结：您在做数据分析会犯的几个错误（一）</a></p>
                    <p>数据分析是一项科学严谨的工作，分析结果往往被用作企业决策的重要指导，因此必须保证分析结果的可靠性。然而，员工很容易在数据...</p>
                    <div class="details-look">
                      <div>2019-08-19</div>
                      <div><a href="./NewsDetail.html">查看全部 >></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-consult">
            <div class="consult-box">
              <div class="list-crumbs">
                <p></p><span>相关资讯</span>
              </div>
              <div class="list-line">
                <p></p>
              </div>
              <div class="consult-content">
                <div class="consult-text">
                  <div class="serial-box"></div>
                  <div class="serial-text">
                    <p>2019-08-09</p>
                    <p><a href="javascript:void(0)">如何提升企业数据的质量和业务增长（一）</a></p>
                  </div>
                </div>
                <div class="consult-text">
                  <div class="serial-box"></div>
                  <div class="serial-text">
                    <p>2019-08-09</p>
                    <p><a href="javascript:void(0)">为什么要做数据分析？为什么要和数据分析公司合作？</a></p>
                  </div>
                </div>
                <div class="consult-text">
                  <div class="serial-box"></div>
                  <div class="serial-text">
                    <p>2019-07-30</p>
                    <p><a href="javascript:void(0)">开维创告诉你数据可视化的优势是什么</a></p>
                  </div>
                </div>
                <div class="consult-text">
                  <div class="serial-box"></div>
                  <div class="serial-text">
                    <p>2019-08-25</p>
                    <p><a href="javascript:void(0)">利用科技电影的特效帮你理解什么是数据可视化？</a></p>
                  </div>
                </div>
                <div class="consult-text">
                  <div class="serial-box"></div>
                  <div class="serial-text">
                    <p>2019-08-11</p>
                    <p><a href="javascript:void(0)">数据可视化——医疗数据可视化可以为我们带来什么？</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="newabout-paging">
          <div id="page" class="page"></div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script src="../js/custom-pagination.min.js"></script>
<script>
  // 分页
  // 4.调用插件
  var box = new CustomPagination('#page', {
    total: 99,//总页数
    changePage: function (pageNum) {//切换页码成功回调
      console.log('当前页码：' + pageNum)
    }
  });
  // 切换
  $(".car-box").on("click", function () {
    $(this).addClass("active").siblings().removeClass("active");
    var liIndex = $(this).index();
    $(".show-box").eq(liIndex).removeClass("hide").siblings(".show-box").addClass("hide");
  })
  // 划入改变右侧样式
  $('.consult-text').mouseover(function () {
    $(this).addClass('consultHover')
  }).mouseout(function () {
    $(this).removeClass('consultHover')
  })

</script>

</html>