<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/views/newsdetail.css">
  
</head>

<body>
  <!-- 新闻质询详情页面 -->
  <div class="detail-box">
    <!-- 导航 -->
    <div class="home-headr">
      <div class="headr-box row">
        <div class="col-lg-2 col-md-2 row">
          <div class="headr-logo col-lg-6"><a href="../index.html"></a></div>
        </div>
        <div class="col-lg-1 col-md-0"></div>
        <div class="headr-menu col-lg-6 col-md-8 row">
          <div class="btn-group col-lg-2 col-md-2">
            <div type="button" class="btn-box " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              产品服务
            </div>
            <ul class="dropdown-menu" style="min-width: 1.44rem;">
              <li><a href="#">数据可视化平台</a></li>
              <li><a href="./ProductSerice.html">数据服务</a></li>
              <li><a href="./CustomServe.html">可视化定制服务</a></li>
              <li><a href="./ClientCase.html">知识云系统</a></li>
            </ul>
          </div>
          <div class="btn-group col-lg-2 col-md-2">
            <div type="button" class="btn-box" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              解决方案
            </div>
            <ul class="dropdown-menu dropdown-double" style="min-width: 1.44rem;">
              <div><a href="#">智慧城市</a></div>
              <div><a href="#">智慧工厂</a></div>
              <div><a href="./SmartFinance.html">智慧金融</a></div>
              <div><a href="#">智慧交通</a></div>
              <div><a href="./Solution.html">智慧能源</a></div>
              <div><a href="#">智慧教育</a></div>
              <div><a href="./Solution.html">智慧政务</a></div>
              <div><a href="#">智慧医疗</a></div>
            </ul>
          </div>
          <div class="btn-group col-lg-2 col-md-2">
            <div type="button" class="btn-box">
              <a href="./ClientCase.html">客户案例</a>
            </div>
          </div>
          <div class="btn-group col-lg-2 col-md-2">
            <div type="button" class="btn-box">
              <a href="./UserCenter.html">用户中心</a>
            </div>
          </div>
          <div class="btn-group col-lg-2 col-md-2">
            <div type="button" class="btn-box" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              关于我们
            </div>
            <ul class="dropdown-menu" style="min-width: 1.44rem;">
              <li><a href="./CompanyLetter.html">公司介绍</a></li>
              <li><a href="./Aboutus.html">加入我们</a></li>
              <li><a href="./NewsList.html">新闻资讯</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-md-0"></div>
        <div class="col-lg-2 col-md-2">
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 新闻内容 -->
    <div class="detail-content">
      <div class="information-box">
        <div class="crumbs-box">关于我们 > 新闻资讯 > <span>详情</span></div>
        <!-- 新闻资讯的文章 -->
        <div class="detail-article">
          <div class="article-left">
            <p>如何进行数据分析和可视化规划（一）</p>
            <p>2019-10-28 09:19:02</p>
            <div class="article-text">
              <div class="section-text">
                中国北京国际科技产业博览会创办于1998年，当时定名为“中国北京高新技术产业国际周”，从2002年第五届起正式更名为科博会，迄今已连续举办20届，逐步打造成集综合活动、展览展示、推介交易、论坛会议、网上展示推介“五位一体”的活动架构，成为国内外展示最新科技成果、传播前沿思想理念、发布产业政策信息、促进国际经济技术合作的专业化、国际化水平较高的标志性品牌活动。
              </div>
              <div class="section-text">
                据不完全统计，前20届科博会先后有100多个国家和地区的900余个境外政府和科技经贸代表团组参加科博会，有35004家高新技术企业和科研院所推出最新技术成果，参与科博会的各界人士累计达到542万人次；先后共举办221个专题近千场次高层论坛和专项交流活动，境内外知名科学家、经济学家、著名企业首脑到会演讲5426人次；举办涉及国内外投资合作、技术贸易、城市发展重点项目等经贸洽谈活动230场，参加中外客商约12万余人次，签署合同、协议、意向5509个，总金额9961.9亿元人民币。科博会的成功举办，为促进产学研用融合贯通提供了务实链接，为新动能成长和传统动能改造提升提供了技术示范，为深化国际产能合作、拓展科技创新空间提供了重要平台。
              </div>
              <div class="section-img1 section-img"></div>
              <div class="section-text">
                据不完全统计，前20届科博会先后有100多个国家和地区的900余个境外政府和科技经贸代表团组参加科博会，有35004家高新技术企业和科研院所推出最新技术成果，参与科博会的各界人士累计达到542万人次；先后共举办221个专题近千场次高层论坛和专项交流活动，境内外知名科学家、经济学家、著名企业首脑到会演讲5426人次；举办涉及国内外投资合作、技术贸易、城市发展重点项目等经贸洽谈活动230场，参加中外客商约12万余人次，签署合同、协议、意向5509个，总金额9961.9亿元人民币。科博会的成功举办，为促进产学研用融合贯通提供了务实链接，为新动能成长和传统动能改造提升提供了技术示范，为深化国际产能合作、拓展科技创新空间提供了重要平台。
              </div>
              <div class="section-img2 section-img"></div>
              <div class="section-text">北京华厚能源科技有限公司（HUAHOU ENERGY TECHNOLOGY
                CO.,LTD.）是中国的一家高科技能源公司，成立于2016年4月，总部位于首都北京。致力于先进储能技术创新和能源互联网技术创新，在同领域内处于技术领先地位。</div>
            </div>
            <div class="article-btn">
              <div class="btn-page">
                <div class="left-page btn-same">上一篇</div>
                <div class="right-page btn-same">下一篇</div>
              </div>
              <div class="btn-page">
                <div class="left-pagination pagination-text">已是第一篇</div>
                <div class="right-pagination pagination-text">如何进行数据分析和可视化规划（二）</div>
              </div>
            </div>
            <div class="page-box">
              
            </div>
          </div>
          <!-- 相关资讯 -->
          <div class="article-right">
            <div class="list-crumbs">
              <p></p><span>相关资讯</span>
            </div>
            <div class="list-line">
              <p></p>
            </div>
            <div class="consult-content">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 页脚 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化<i class="iconfont arrows-left arrows-icon iconchangyongicon-"></i></p>
        <div class="footer-btn">
          <div class="btn-taste">免费体验</div>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <li>数据可视化平台</li>
              <li>数据服务</li>
              <li>可视化定制化服务</li>
              <li>知识云系统</li>
            </ul>
            <ul>
              <li>解决方案</li>
              <li class="li-active">智慧城市</li>
              <li>智慧工厂</li>
              <li>智慧能源</li>
              <li>智慧交通</li>
              <li>智慧金融</li>
              <li>智慧教育</li>
              <li>智慧政务</li>
              <li>智慧医疗</li>
            </ul>
            <ul>
              <li>客户案例</li>
              <li>宝马项目案例</li>
              <li>伊利项目案例</li>
              <li>国家能源集团</li>
              <li>华厚能源项目</li>
              <li>中国石化</li>
            </ul>
            <ul>
              <li>用户中心</li>
              <li>产品白皮书</li>
              <li>使用手册</li>
              <li>视频教学</li>
            </ul>
            <ul>
              <li>关于我们</li>
              <li>公司介绍</li>
              <li>加入我们</li>
              <li>新闻资讯</li>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接： 千锋教育 阿里蜘蛛 PS教程 小程序开发 联想商用电脑推广
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../js/plugs/jquery.js"></script>
<script src="../js/plugs/convert.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/rollList.js"></script>
<script>
  let arrData = [{ time: '2019-08-09', text: "数据提出“大数据”时代到来的是全球" }, { time: '2019-07-23', text: "数据提出“大数据”时代到来的是全球" }, { time: '2019-07-30', text: "数据提出“大数据”时代到来的是全球" }, { time: '2019-08-25', text: "数据提出“大数据”时代到来的是全球" }, { time: '2019-08-11', text: "数据提出“大数据”时代到来的是全球" }]
  let str = ''
  $.each(arrData, function (i, item) {
    str += '<div class="consult-text">' + '<div class="serial-box serial-hover"></div>' + '<div class="serial-text">' + '<p>' + item.time + '</p>' + '<p class="serial-hover">' + item.text + '</p>' + '</div>' + '</div>'
    $(".consult-content").html(str)
  })
  // 分页
  // 4.调用插件
  var box = new CustomPagination('#page', {
    total: 99,//总页数
    changePage: function (pageNum) {//切换页码成功回调
      console.log('当前页码：' + pageNum)
    }
  });
</script>

</html>