<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/productserice.css">
  <link rel="stylesheet" href="../css/appstyle/appProduct.css">
</head>

<body>
  <!-- 数据服务页面 -->
  <div class="detail-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="#">首页</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">产品服务<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./views/ProductSerice.html">数据服务</a></li>
                  <li><a href="./views/CustomServe.html">可视化定制服务</a></li>
                  <li><a href="./views/ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">解决方案<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="#">智慧城市</a></li>
                  <li><a href="#">智慧工厂</a></li>
                  <li><a href="./views/SmartFinance.html">智慧金融</a></li>
                  <li><a href="#">智慧交通</a></li>
                  <li><a href="./views/Solution.html">智慧能源</a></li>
                  <li><a href="#">智慧教育</a></li>
                  <li><a href="#">智慧政务</a></li>
                  <li><a href="#">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./views/ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./views/ClientCase.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/CompanyLetter.html">公司介绍</a></li>
                  <li><a href="./views/Aboutus.html">加入我们</a></li>
                  <li><a href="./views/NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <!-- 新闻内容 -->
    <div class="product-content">
      <div class="product-talking">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-xs-1"></div>
            <div class="col-lg-10 col-xs-10">
              <div class="visu-box">
                <p class="product-text">数据服务</p>
                <p class="product-text2">数维网络化数据汇总服务</p>
                <div class="product-text3">优化企业数据采集流程 智能高效的数据处理服务
                  <p class="product-into">
                    <i class="iconfont iconchangyongicon-"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-xs-1"></div>
          </div>
        </div>
      </div>
      <!-- 数据可视化 -->
      <div class="product-example row">
        <div class="col-lg-1"></div>
        <div class="example-box col-lg-10  col-xs-12 container">
          <div class="row example-row">
            <div class="col-lg-6 col-md-6 col-xs-12 example-left">
              <p class="example-title">数据可视</p>
              <p class="example-en">Data visualization</p>
              <p class="example-line"></p>
              <p class="example-text">有专业设计师精心设计企业可视化大屏、丰富的图形组件，企业无需编码、不必预先导入数据，您可以通过图形化的界面在十分钟之内快速搭建起专业、美观、酷炫的大屏展示。</p>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 example-right">
              <div class="example-zoom row">
                <div class="example-img col-lg-12">
                  <img src="../assets/img/product/example-01.png" alt="">
                </div>
                <div class="example-img2 col-lg-12">
                  <img src="../assets/img/product/example-02.png" alt="">
                </div>
              </div>
              <div class="example-zoom2 row">
                <div class="example-img col-lg-12">
                  <img src="../assets/img/product/example-03.png" alt="">
                </div>
                <div class="example-img2 col-lg-12">
                  <img src="../assets/img/product/example-04.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      <!-- 数据挖掘 -->
      <div class="find-box row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-xs-12 row">
          <div class="find-auto">
            <div class="col-lg-12 col-md-12 col-xs-12 find-text">
              <p>数据挖掘</p>
              <p>Data mining</p>
              <p class="center-block"></p>
              <p class="center-block">运用大数据可视化挖掘工具和技术以及多种统计方法，快速、轻松检测企业信息，解决商业数据问题，让数据变得更加简单化。</p>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 find-img">
              <img class="col-lg-3 col-xs-6 col-md-3" src="../assets/img/product/wan-01.png" alt="">
              <img class="col-lg-3 col-xs-6 col-md-3" src="../assets/img/product/wan-02.png" alt="">
              <img class="col-lg-3 col-xs-6 col-md-3 imgTop" src="../assets/img/product/wan-03.png" alt="">
              <img class="col-lg-3 col-xs-6 col-md-3 imgTop" src="../assets/img/product/wan-04.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      <!-- 数据定制 -->
      <div class="custom-box row">
        <div class="col-lg-10 col-xs-12 custom-place">
          <div class="visu-box">
            <div class="col-lg-12 col-xs-12 custom-text2">
              <div class="col-lg-6 col-xs-12 custom-text">
                <div class="custom-title">
                  <div class="custom-top">
                    <span></span>
                    <span>数据定制</span>
                    <span>Data customization</span>
                  </div>
                  <p>为了保证企业合作质量，我们还为企业提供深度专业的定制服务，根据企业需求提供定制可视化方案、可视化设计大屏，达到企业高质量数据可视化。</p>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0px;">
                <div class="custom-img">
                  <img src="../assets/img/product/custom-01.png" alt="" style="margin-left:0px">
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 custom-text2">
              <div class="col-lg-6 col-xs-12" style="padding: 0px;">
                <div class="custom-img2">
                  <img src="../assets/img/product/custom-02.png" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-xs-12 ">
                <div class="custom-title">
                  <div class="custom-top">
                    <span></span>
                    <span>数据分析</span>
                    <span>MicrosoftYaHei</span>
                  </div>
                  <p>提供AI基础分析和BI智能决策服务，填补传统人工运营的前瞻性和实用性，助力企业构建最强决策大脑</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="place-box">
          <div class="place-blue">
            <div class="place-text">
              <p>数据</p>
              <p>可视化</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 移动轮播 -->
      <div class="custom-app">
        <div class="app-lunbo">
          <div class="col-lg-6 col-xs-12 custom-text">
            <div class="custom-title">
              <div class="custom-top">
                <span></span>
                <span class="app-text">数据定制</span>
                <span class="app-text2">Data customization</span>
              </div>
              <p class="app-text3">为了保证企业合作质量，我们还为企业提供深度专业的定制服务，根据企业需求提供定制可视化方案、可视化设计大屏，达到企业高质量数据可视化。</p>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 app-img" style="padding: 0px;">
            <img src="../assets/img/product/custom-01.png" alt="" style="margin-left:0px">
          </div>
        </div>
        <div class="app-lunbo">
          <div class="col-lg-6 col-xs-12 custom-text">
            <div class="custom-title">
              <div class="custom-top">
                <span></span>
                <span class="app-text">数据分析</span>
                <span class="app-text2">Data analysis </span>
              </div>
              <p class="app-text3">提供AI基础分析和BI智能决策服务，填补传统人工运营的前瞻性和实用性，助力企业构建最强决策大脑</p>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 app-img" style="padding: 0px;">
            <img src="../assets/img/product/custom-02.png" alt="">
          </div>
        </div>
        <div class="dot-box">
          <ul>
            <li class="dotEspe dotActive"></li>
            <li class="dotActive"></li>
          </ul>
        </div>
      </div>
      <!-- 数据建模 -->
      <div class="modeling-box row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-xs-12 row modeling-center">
          <div class="visu-box2">
            <div class="modeling-text">
              <p>数据建模</p>
              <p>Data modeling</p>
              <p></p>
              <p>拥有高级建模技术的设计师，帮助客户设计3D可视化模型，通过企业的可视化需求指导客户理解数据建模之间的关键性联系，提供专业3D可视化数据服务。</p>
            </div>
            <div class="data-img">
              <img src="../assets/img/product/modeling.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      <!-- 数据加密 -->
      <div class="encrypt-box">
        <div class="col-lg-12 col-xs-12">
          <div class="encrypt-text">
            <p>数据加密</p>
            <p>Data encryption</p>
            <p class="center-block"></p>
            <p class="center-block">利用虚拟化技术，提供弹性、高可用、高性能的数据加解密、密钥管理等数据安全服务，满足金融、互联网等行业加密需求，保障您的业务数据隐私安全。</p>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12">
          <div class="encrypt-img">
            <img src="../assets/img/product/encrypt.png" alt="">
          </div>
        </div>
      </div>
      <!-- 大数据 -->
      <div class="big-box">
        <div class="container">
          <div class="row">
            <div class="big-text encrypt-text2 col-xs-12">
              <p>大数据</p>
              <p>Big Data</p>
              <p class="center-block"></p>
              <p class="center-block">在互联网大数据时代，我们还为企业提供ETL、spark、flink、hadoop、流式计算、离线计算等大数据服务，全方位的为企</p
                class="center-block">
            </div>
          </div>
        </div>
        <img src="../assets/img/product/big.png" alt="">
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script>
  $(document).ready(function () {
    appLunbo()
  });

  function appLunbo() {
    $('.app-lunbo').eq(0).show().siblings('.lunbo-one').hide();
    var j = 0
    var customLunbo = null

    function appTime() {
      j++;
      //当图片是最后一张的后面时，设置图片为第一张
      if (j == 2) {
        j = 0;
      }
      for (var i = 0; i < $('.app-lunbo').length; i++) {
        $('.app-lunbo').eq(i).hide()
        $(".dotActive").eq(i).removeClass("dotEspe");
      }
      $('.app-lunbo').eq(j).show()
      $(".dotActive").eq(j).addClass("dotEspe");
    }
    customLunbo = setInterval(appTime, 2000)
  }

</script>

</html>