<!-- 智慧能源 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/solution.css">
  <link rel="stylesheet" href="../plugins/swiper-3.4.2/css/swiper.css">
  <link rel="stylesheet" href="../css/appstyle/appSolution.css">
  <style>
    .carouselimg1 {
      background: url(../assets/img/jr/image_jrfa1.png) no-repeat;
      background-size: 100% 100%;
    }

    .carouselimg2 {
      background: url(../assets/img/jr/image_jrfa2.png) no-repeat;
      background-size: 100% 100%;
    }

    .carouselimg3 {
      background: url(../assets/img/jr/image_jrfa3.png) no-repeat;
      background-size: 100% 100%;
    }
  </style>
</head>

<body>
  <!--  智慧金融页面-->
  <div class="solution-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="#">首页</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">产品服务<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./views/ProductSerice.html">数据服务</a></li>
                  <li><a href="./views/CustomServe.html">可视化定制服务</a></li>
                  <li><a href="./views/ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle  navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">解决方案<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="#">智慧城市</a></li>
                  <li><a href="#">智慧工厂</a></li>
                  <li><a href="./views/SmartFinance.html">智慧金融</a></li>
                  <li><a href="#">智慧交通</a></li>
                  <li><a href="./views/Solution.html">智慧能源</a></li>
                  <li><a href="#">智慧教育</a></li>
                  <li><a href="#">智慧政务</a></li>
                  <li><a href="#">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./views/ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./views/ClientCase.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/CompanyLetter.html">公司介绍</a></li>
                  <li><a href="./views/Aboutus.html">加入我们</a></li>
                  <li><a href="./views/NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <!-- 智慧能源内容 -->
    <div class="solution-content">
      <div class="article-introduce-jr"></div>
      <!-- 加入我们 -->
      <div class="introduced-box">
        <div class="introduced-content">
          <div class="int-text">
            <div class="int-us">
              <p class="int-p">行业背景</p>
              <p class="int-pt">Industry background</p>
              <div class="int-box"><span></span></div>
              <div class="int-details">
                <span>在现在宏观经济下行的背景下，金融行业竞争激烈，很多企业都在寻找新的生存方式和运营方向，渴望通过较高的企业竞争力去提升客户体验。减少企业运营成本、降低企业受损率，帮助企业可持续性发展。</span>
              </div>
            </div>
          </div>
          <div class="int-img container">
            <div class="row">
              <div class="col-md-3 col-xs-6 col-sm-6">
                <img class="col-md-3" src="../assets/img/jr/image_jr1.png" alt="">
              </div>
              <div class="col-md-3 col-xs-6 col-sm-6">
                <img class="col-md-3" src="../assets/img/jr/image_jr2.png" alt="">
              </div>
              <div class="col-md-3 col-xs-6 col-sm-6">
                <img class="col-md-3" src="../assets/img/jr/image_jr3.png" alt="">
              </div>
              <div class="col-md-3 col-xs-6 col-sm-6">
                <img class="col-md-3" src="../assets/img/jr/image_jr4.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 行业痛点 -->
      <div class="industry-box">
        <div class="industry-content">
          <div class="industry-title">
            <div class="title-box">
              <p class="int-p">行业痛点</p>
              <p class="int-pt">Industry pain spot</p>
              <div class="int-box"><span></span></div>
              <div class="int-details">
                <span>想要利用大数据可视化把金融转换为智慧金融，要面临很多问题</span>
              </div>
            </div>
          </div>
          <div class="industry-list">
            <div class="industry-one">
              <div class="industry-img"></div>
              <div class="industry-serial">1</div>
              <div class="industry-text">
                <p>想要利用大数据可视化把金融转换为智慧金融，要面临很多问题</p>
                <p>金融行业数据复杂且繁多，因为金融企业就是依赖这些数据去发展。如何通过各业务系统之间的数据关联，整合内部数
                  据和外部数据，分析大规模数据，通过数据主导业务，提高自身的市场分析能力、客户服务能力、产品设计能力、利润
                  增值能力和风险抵抗能力，提高“降低本插件、业务创新”的目标，吸引行业内各大公司的关注。</p>
              </div>
            </div>
            <div class="industry-one">
              <div class="industry-img"></div>
              <div class="industry-serial">2</div>
              <div class="industry-text">
                <p>行业数据不一致</p>
                <p>国内金融业发展已经有数十年的发展史了，行业内的业务支撑系统众多，数据来源复杂，数据之间难以互通，各部门间
                  数据统计口径不一致，难以保证数据一致性。</p>
              </div>
            </div>
            <div class="industry-one">
              <div class="industry-img"></div>
              <div class="industry-serial">3</div>
              <div class="industry-text">
                <p>金融行业获取客户信息成本过高</p>
                <p>获得客户的高成本一直是金融企业的一个长期问题。然而，高成本背后是低转换率和营业额。用户无法大规模增长是影
                  响金融企业发展的最大瓶颈。</p>
              </div>
            </div>
            <div class="industry-one" style="margin-bottom: .7rem;">
              <div class="industry-img"></div>
              <div class="industry-serial">4</div>
              <div class="industry-text">
                <p>金融行业的风险管控难度大</p>
                <p>金融企业的风险管控一直以来就是很大的难题，也是金融企业的命运线。尤其以p2p为代表的网络金融企业呈井喷式增
                  长的背景下，如何更精确的鉴别用户诈骗，如何搭建更合理的信誉等级，是当前金融机构急缺考虑的问题</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 解决方案 -->
      <div class="scheme-box">
        <div class="scheme-content">
          <div class="scheme-title">
            <p class="int-p">解决方案</p>
            <p class="int-pt">Total Solution</p>
            <div class="int-box"><span></span></div>
          </div>
          <div class="carousel-box">
            <div class="swiper-button-prev left-btn" style="background-image: none;">
              <img src="../assets/img/arrow-lift.png" alt="">
            </div>
            <div class="swiper-button-next right-btn" style="background-image: none;">
              <img src="../assets/img/arrow-right.png" alt="">
            </div>
            <div class="img-box">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="carouselimg1 carousel-img">
                      <div class="carousel-text">收集金融业务系统数据</div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="carouselimg2 carousel-img">
                      <div class="carousel-text">
                        <p>利用大数据可视化技术分析用户画像</p>
                        <p style="font-size:16px;text-align: left;">
                          根据客户的基本资料和申请资料，通过收集和分析客户的行为偏好，全面反映客户的还款能力和还款意愿，增强识别欺诈客户的能力。</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="carouselimg3 carousel-img">
                      <div class="carousel-text">优化渠道推广</div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="carouselimg3 carousel-img">
                      <div class="carousel-text">优化渠道推广</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 可视化意义 -->
      <div class="sence-box">
        <div class="sence-content">
          <p class="int-p">智慧慧金融运用大数据可视化的意义</p>
          <p class="int-pt">The significance of big data visualization in smart Finance</p>
          <div class="int-box"><span></span></div>
          <div class="int-details">
            <span>开维创提供的智慧金融的3D可视化解决方案，可广泛应用各种金融形态，为人员提供高效率的金融数据分析平台，也可为管理层提供实时数据可视化展示，提升业务人员数据分析能力，自由释放数据潜能，随时随地进行数据分析展示。</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script src="../plugins/swiper-3.4.2/js/swiper.js"></script>
<script>
  $(document).ready(function () {
    drop()
  });
  window.οnresize = function () {
    drop()
  }
  function drop() {
    if ($(window).width() > 768) {
      $('.btnBox').mouseover(function () {
        $(this).addClass('open')
      }).mouseout(function () {
        $(this).removeClass('open')
      })
    }
  }
  // 导航点击时的变化
  $('.dropdown-toggle').bind('click', function () {
    if ($(this).find('span').is('.glyphicon-menu-down') == true) {
      $(this).find('span').removeClass('glyphicon-menu-down')
      $(this).find('span').addClass('glyphicon-menu-up')
      $(this).find('span').css('color', '#1890FF')
    } else {
      $(this).find('span').removeClass('glyphicon-menu-up')
      $(this).find('span').addClass('glyphicon-menu-down')
      $(this).find('span').css('color', '#000000')
    }
  })
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: 3,
    paginationClickable: true,
    spaceBetween: 30,
    grabCursor: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev'
  });
  $('.btn-box').mouseenter(function () {
    $(this).siblings().attr("style", "display:block;");
  })
  $('.dropdown-menu').mouseenter(function () {
    $(this).attr("style", "display:block;");
  })
  $('.dropdown-menu').mouseleave(function () {
    $(this).attr("style", "display:none;");
  })
  $('.btn-box').mouseleave(function () {
    $(this).siblings().attr("style", "display:none;");
  })
</script>

</html>