<!-- 智慧能源 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/solution.css">
  <link rel="stylesheet" href="../plugins/swiper-3.4.2/css/swiper.css">
  <link rel="stylesheet" href="../css/appstyle/appSolution.css">
</head>

<body>
  <!-- 智慧能源页面 -->
  <div class="solution-box">
    <!-- 导航 -->
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="#">首页</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">产品服务<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./views/ProductSerice.html">数据服务</a></li>
                  <li><a href="./views/CustomServe.html">可视化定制服务</a></li>
                  <li><a href="./views/ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle  navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">解决方案<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="#">智慧城市</a></li>
                  <li><a href="#">智慧工厂</a></li>
                  <li><a href="./views/SmartFinance.html">智慧金融</a></li>
                  <li><a href="#">智慧交通</a></li>
                  <li><a href="./views/Solution.html">智慧能源</a></li>
                  <li><a href="#">智慧教育</a></li>
                  <li><a href="#">智慧政务</a></li>
                  <li><a href="#">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./views/ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./views/UserCenter.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/CompanyLetter.html">公司介绍</a></li>
                  <li><a href="./views/Aboutus.html">加入我们</a></li>
                  <li><a href="./views/NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <!-- 智慧能源内容 -->
    <div class="solution-content">
      <div class="article-introduce"></div>
      <!-- 加入我们 -->
      <div class="introduced-box">
        <div class="introduced-content">
          <div class="int-text">
            <div class="int-us">
              <p class="int-p">行业背景</p>
              <p class="int-pt">Industry background</p>
              <div class="int-box"><span></span></div>
              <div class="int-details">
                <span>在我国，能源问题一直以来都受到中国政府的密切关注，发展低碳经济、建设资源节约型、环境友好型社会是中国的战略。打造大数据能源管理，对能源数据进行大数据可视化分析，打造3D可视化数据，能提高能源利用效率、改进能源生产系统。</span>
              </div>
            </div>
          </div>
          <div class="int-img container">
            <div class="row">
              <div class="col-md-3 col-xs-6 col-sm-6"><img src="../assets/img/image_ny1.png" alt=""></div>
              <div class="col-md-3 col-xs-6 col-sm-6"><img src="../assets/img/image_ny2.png" alt=""></div>
              <div class="col-md-3 col-xs-6 col-sm-6"><img src="../assets/img/image_ny3.png" alt=""></div>
              <div class="col-md-3 col-xs-6 col-sm-6"><img src="../assets/img/image_ny4.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 行业痛点 -->
      <div class="industry-box">
        <div class="industry-content">
          <div class="industry-title">
            <div class="title-box">
              <p class="int-p">行业痛点</p>
              <p class="int-pt">videos courseware</p>
              <div class="int-box"><span></span></div>
            </div>
          </div>
          <div class="industry-list">
            <div class="industry-one">
              <div class="industry-img"></div>
              <div class="industry-serial">1</div>
              <div class="industry-text">
                <p>给设施联通方面带来新的挑战</p>
                <p>能源加上大数据技术需要加强综合能源的网络建设，需要建立开放的共享体系，建立面向在多种应用和服务场景下能源
                  系统互联互通的开放接口、网络协议和应用支撑平台，支持海量和多种形式的供能与用能设备的快速、便捷接入。</p>
              </div>
            </div>
            <div class="industry-two">
              <div class="industry-img"></div>
              <div class="industry-serial">2</div>
              <div class="industry-text">
                <p>给设施联通方面带来新的挑战</p>
                <p>能源加上大数据技术需要加强综合能源的网络建设，需要建立开放的共享体系，建立面向在多种应用和服务场景下能源
                  系统互联互通的开放接口、网络协议和应用支撑平台，支持海量和多种形式的供能与用能设备的快速、便捷接入。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 解决方案 -->
      <div class="scheme-box">
        <div class="scheme-content">
          <div class="scheme-title">
            <p class="int-p">解决方案</p>
            <p class="int-pt">Total Solution</p>
            <div class="int-box"><span></span></div>
          </div>
          <div class="carousel-box">
            <div class="swiper-button-prev left-btn" style="background-image: none;">
              <img src="../assets/img/arrow-lift.png" alt="">
            </div>
            <div class="swiper-button-next right-btn" style="background-image: none;">
              <img src="../assets/img/arrow-right.png" alt="">
            </div>
            <div class="img-box">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="carousel-img1 carousel-img">
                      <div class="carousel-text">建设综合性展示平台</div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="carousel-img2 carousel-img">
                      <div class="carousel-text">
                        <p>数据获取、分析</p>
                        <p>对电力、燃气、水、热等各分类能耗数据进 行采集、处理，并分析能耗状况，实现节能 应用，随时了解企业生产运营状态，大屏可 视化展</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="carousel-img3 carousel-img">
                      <div class="carousel-text">数据信息进行3D可视化大屏展示</div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="carousel-img3 carousel-img">
                      <div class="carousel-text">
                        <p>建设综合性展示平台</p>
                        <p>建设综合性展示平台，用直观的图文方式在大屏幕上去展示企业规模、生产、经营等各种数据信息，实现监控生产运营实时信息，满足企业准确</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 移动端轮播 -->
      <div class="app-scheme">
        <div class="scheme-content">
          <div class="scheme-title">
            <p class="int-p">解决方案</p>
            <p class="int-pt">Total Solution</p>
            <div class="int-box"><span></span></div>
          </div>
          <div class="carousel-box">
            <div class="img-box">
              <div class="carousel-img1 carousel-img carousel-app">
                <div class="carousel-text">建设综合性展示平台</div>
              </div>
              <div class="carousel-img2 carousel-img carousel-app">
                <div class="carousel-text">
                  <p>数据获取、分析</p>
                  <p>对电力、燃气、水、热等各分类能耗数据进 行采集、处理，并分析能耗状况，实现节能 应用，随时了解企业生产运营状态，大屏可 视化展</p>
                </div>
              </div>
              <div class="carousel-img3 carousel-img carousel-app">
                <div class="carousel-text">数据信息进行3D可视化大屏展示</div>
              </div>
              <div class="carousel-img3 carousel-img carousel-app">
                <div class="carousel-text">
                  <p>建设综合性展示平台</p>
                  <p>建设综合性展示平台，用直观的图文方式在大屏幕上去展示企业规模、生产、经营等各种数据信息，实现监控生产运营实时信息，满足企业准确</p>
                </div>
              </div>
            </div>
            <div class="scheme-list">
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 可视化意义 -->
      <div class="sence-box">
        <div class="sence-content">
          <p class="int-p">智慧能源运用大数据可视化的意义</p>
          <p class="int-pt">The significance of big data visualization in smart energy utilization</p>
          <div class="int-box"><span></span></div>
          <div class="int-details">
            <span>通过能源计划，能源监控，能源统计，能源消费分析，重点能耗设备管理，能源计量设备管理等多种手段大屏展示，通过安全预警、能耗管理、设备监控，使企业管理者对企业的运行状态、能源成本比重、发展趋势有准确的掌握。</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script src="../plugins/swiper-3.4.2/js/swiper.js"></script>
<script>
  $(document).ready(function () {
    drop()
  });
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: 3,
    paginationClickable: true,
    spaceBetween: 30,
    grabCursor: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev'
  });
  $('.btn-box').mouseenter(function () {
    $(this).siblings().attr("style", "display:block;");
  })
  $('.dropdown-menu').mouseenter(function () {
    $(this).attr("style", "display:block;");
  })
  $('.dropdown-menu').mouseleave(function () {
    $(this).attr("style", "display:none;");
  })
  $('.btn-box').mouseleave(function () {
    $(this).siblings().attr("style", "display:none;");
  })
  // window.οnresize = function () {
  //   drop()
  // }
  // function drop() {
  //   if ($(window).width() > 768) {
  //     $('.btnBox').mouseover(function () {
  //       $(this).addClass('open')
  //     }).mouseout(function () {
  //       $(this).removeClass('open')
  //     })
  //   }
  // }
  // // 导航点击时的变化
  // $('.dropdown-toggle').bind('click', function () {
  //   if ($(this).find('span').is('.glyphicon-menu-down') == true) {
  //     $(this).find('span').removeClass('glyphicon-menu-down')
  //     $(this).find('span').addClass('glyphicon-menu-up')
  //     $(this).find('span').css('color', '#1890FF')
  //   } else {
  //     $(this).find('span').removeClass('glyphicon-menu-up')
  //     $(this).find('span').addClass('glyphicon-menu-down')
  //     $(this).find('span').css('color', '#000000')
  //   }
  // })
  $('.carousel-app').eq(0).show().siblings('.carousel-app').hide()
  $(".scheme-list>ul>li").eq(0).addClass("scheme-active").siblings('.scheme-list>ul>li').removeClass("scheme-active");
  var cutIndex = 0
  var timed = null
  // tab栏自动轮播
  timed = setInterval(showTime2, 2000)
  function showTime2() {
    cutIndex++;
    if (cutIndex == 3) {
      cutIndex = 0;
    }
    for (var i = 0; i < $(".carousel-app").length; i++) {
      $(".carousel-app").eq(i).hide()
      $(".scheme-list>ul>li").eq(i).removeClass("scheme-active");
    }
    $(".carousel-app").eq(cutIndex).show()
    $(".scheme-list>ul>li").eq(cutIndex).addClass("scheme-active")
  }
</script>

</html>