<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/views/usercenter.css">
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/appstyle/appUser.css">
</head>

<body>
  <!-- 用户中心页面 -->
  <div class="user-box"></div>
  <div class="home-headr">
    <nav class="navbar">
      <div class="container2">
        <div class="navbar-header">
          <a class="navbar-brand d-flex justify-content-center align-items-center" href="../index.html">
            <img src="../assets/img/LOGO.png">
          </a>
          <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
            data-target="#head-navbar" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navCenter" id="head-navbar">
          <div class="mask"></div>
          <ul class="nav navbar-nav">
            <li class="dropdown btnBox dropdownActive dropdownShow"><a href="../index.html">首页</a></li>
            <li class="dropdown btnBox">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">产品服务<span
                  class="spanBtn glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./VisualTerrace.html">数据可视化平台</a></li>
                <li><a href="./ProductSerice.html">数据服务</a></li>
                <li><a href="./CustomServe.html">可视化定制服务</a></li>
                <li><a href="./ClientCase.html">知识云系统</a></li>
              </ul>
            </li>
            <li class="dropdown btnBox">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">解决方案<span
                  class="spanBtn glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu dropdown-doublerow">
                <li><a href="javascript:void(0)">智慧城市</a></li>
                <li><a href="javascript:void(0)">智慧工厂</a></li>
                <li><a href="./SmartFinance.html">智慧金融</a></li>
                <li><a href="javascript:void(0)">智慧交通</a></li>
                <li><a href="./Solution.html">智慧能源</a></li>
                <li><a href="javascript:void(0)">智慧教育</a></li>
                <li><a href="javascript:void(0)">智慧政务</a></li>
                <li><a href="javascript:void(0)">智慧医疗</a></li>
              </ul>
            </li>
            <li class="dropdown btnBox"><a href="./ClientCase.html">客户案例</a></li>
            <li class="dropdown btnBox"><a class="navActive" href="javascript:void(0)">用户中心</a></li>
            <li class="dropdown btnBox">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">关于我们<span
                  class="spanBtn glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./CompanyLetter.html">公司介绍</a></li>
                <li><a href="./Aboutus.html">加入我们</a></li>
                <li><a href="./NewsList.html">新闻资讯</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="headr-page">
          <span>进入sv.data</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="user-content row">
    <div class="user-top">
      <div>
        <p>用户中心</p>
        <p>北京开维创大数据可视化一对一服务响应，伴随您业务发展的 每一步，助力企业完成大数据可视化的模式重构和思想意识的改革</p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-12">
      <div class="user-video">
        <div class="video-text">
          <div>
            <p>视频教程</p>
            <p>videos courseware</p>
            <p></p>
          </div>
        </div>
        <!-- pc 视频教程 -->
        <div class="video-box">
          <div class="video-top row">
            <div class="col-lg-4 col-md-4 video-img"><img src="../assets/img/user/image_sp1.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4  video-img"><img src="../assets/img/user/image_sp2.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 video-img"><img src="../assets/img/user/image_sp3.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>图表组件</p>
                <p>23分34秒</p>
              </div>
            </div>
          </div>
          <div class="video-dwon video-top  row">
            <div class="col-lg-4 col-md-4 video-img2"><img src="../assets/img/user/image_sp4.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>3D可视化</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 video-img2"><img src="../assets/img/user/image_sp5.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>界面管理</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 video-img2"><img src="../assets/img/user/image_sp6.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>界面发布</p>
                <p>23分34秒</p>
              </div>
            </div>
          </div>
        </div>
        <!-- app 视频教程 -->
        <div class="video-app-box">
          <div class="swiper-video">
            <div class="swiper-item" style="display: flex;">
              <div class="video-img">
                <img src="../assets/img/user/image_sp1.png" alt="">
                <div class="video-icon"></div>
                <div class="video-name">
                  <p>基本操作</p>
                  <p>23分34秒</p>
                </div>
              </div>
              <div class="video-img">
                <img src="../assets/img/user/image_sp2.png" alt="">
                <div class="video-icon"></div>
                <div class="video-name">
                  <p>基本操作</p>
                  <p>23分34秒</p>
                </div>
              </div>
            </div>
            <div class="swiper-item" style="display: none;">
              <div class="video-img">
                <img src="../assets/img/user/image_sp3.png" alt="">
                <div class="video-icon"></div>
                <div class="video-name">
                  <p>图表组件</p>
                  <p>23分34秒</p>
                </div>
              </div>
              <div class="video-img">
                <img src="../assets/img/user/image_sp4.png" alt="">
                <div class="video-icon"></div>
                <div class="video-name">
                  <p>3D可视化</p>
                  <p>23分34秒</p>
                </div>
              </div>
            </div>
            <div class="swiper-item" style="display: none;">
              <div class="video-img">
                <img src="../assets/img/user/image_sp5.png" alt="">
                <div class="video-icon"></div>
                <div class="video-name">
                  <p>界面管理</p>
                  <p>23分34秒</p>
                </div>
              </div>
              <div class="video-img">
                <img src="../assets/img/user/image_sp6.png" alt="">
                <div class="video-icon"></div>
                <div class="video-name">
                  <p>界面发布</p>
                  <p>23分34秒</p>
                </div>
              </div>
            </div>
          </div>
          <div class="dot">
            <div class="dot-item dotActive"></div>
            <div class="dot-item"></div>
            <div class="dot-item"></div>
          </div>
        </div>
        <!-- pc 白皮书 -->
        <div class="video-book row">
          <div class="book-left col-lg-4 col-md-4">
            <div class="tree-top">
              <p></p>
              <p>白皮书</p>
            </div>
            <div class="tree-list">
              <ul>
                <li class="list-btn menu-item selectColor"><span class="btn-boult"></span><span>大数据普及</span></li>
              </ul>
              <ul>
                <li class="list-btn menu-item"><span class="btn-boult"></span><span>数据可视化对企业的意义</span></li>
              </ul>
              <ul>
                <li class="list-btn"><span class="btn-boult"></span><span>产品概述</span></li>
                <li class="list-child menu-item">产品介绍</li>
                <li class="list-child menu-item">体系结构与兼容情况</li>
                <li class="list-child menu-item">功能详情</li>
              </ul>
              <ul>
                <li class="list-btn menu-item"><span class="btn-boult"></span><span>产品特点</span></li>
              </ul>
            </div>
          </div>
          <div class="book-right col-lg-8 col-md-8">
            <div class="book-text">
              <div class="book-parent">
                <div class="book-content">
                  <h3>大数据普及</h3>
                  <span>最早提出“大数据”时代到来的是全球知名咨询公司麦肯锡。麦肯锡称：“数据，已经渗透到当今每一个行业和业务职能领域，成为重要的生产因素。人们对于海量数据的挖掘和运用，预示着新一波生产率增长和消费者盈余浪潮的到来。”曾几何时，大数据在很多普通人的心目中是高大上的技术，即便是业内专业人员，也不敢设想大数据技术能够在短时间内广泛应用。如今，大数据已不再是阳春白雪，而逐渐成为一种普及的技术。作为一种新技术，大数据技术的发展过程与其他技术大抵相似：首先是在专业领域内讨论与研究；然后是小规模试点、应用推广，普通人听说并作为饭后谈资；最后是大众享受大数据技术带来的便利，以至于不再觉得大数据技术有何特别之处。要达到最后一个阶段，还需业内专业人员和市场人员等各方面力量共同努力，推动大数据普及化。毫无疑问，技术的进步是大数据普及化的基础，而降低应用成本是大数据普及化的必要条件。可以说，当前大数据在这两个方面已经取得了长足的进步。未来需要在更多场景中，北京开维创科技有限公司
                    BeiJing
                    OpenVtic用大数据技术，利用市场和资本的驱动，构建经济效益和社会效益兼备的大数据应用系统，为大众带来便利，为建设单位带来价值，为资本带来利润。目前业界开始探索大数据的应用手段，例如在视频、人工智能、物联网方向的应用。
                    但能够全面的展示所有数据，并让决策者通过其分析出数据的意义，就需要运用数据可视化的技术了。</span>
                  <div class="switch">
                    <div class="prev">
                      <div class="switch-btn" style="
                      color:rgba(0,0,0,.3);
                      border:1px solid rgba(0,0,0,.3);">
                        上一篇 <span class="switch-icon" style="color:rgba(0,0,0,.3);">></span>
                      </div>
                      <div class="switch-title">
                        已是第一篇
                      </div>
                    </div>
                    <div class="next">
                      <div class="switch-btn">
                        下一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        数据可视化对企业的意义
                      </div>
                    </div>
                  </div>
                </div>
                <div class="book-content">
                  <h3>数据可视化对企业的意义</h3>
                  <span>
                    企业的高速发展，已经到了大规模应用大数据，提升企业经营效率的时代了。互联网企业的数据量都会经历一个积累的过程：刚开始搭建网络平台时，数据量不大，尚可通过普通的数据分析工具处理。一旦快速增长期到来，数据量也随之倍增，已有的工具难以处理海量数据。以客户数达百万量级的企业来说，每天用户访问量与订单量更可以用“海量”来形容。在使用大数据可视化系统前，大量业务分析需求积压在数据部门，数据分析师必须写各种脚本、调取不同数据，加班加点才能完成数据分析，，让数据分析师难以深挖数据中有价值的信息。在这种情况下云计算的优势就凸显了出来，一亿条数据几秒内就可以计算完毕，企业数据连接到大数据可视化系统之后，任何分析需求都能得到快速响应，企业整体运营、决策效率有了本质提升。</span>
                  <p>不容易错过商机和趋势</p>
                  <span>数据驱动效率提升，一旦量变到一定阶段就会引发质变，也就会诞生新的商业模式。典型的创新商业产品如蚂蚁微贷。阿里巴巴把电商零售数据、支付金融数据、个人身份信息等。多个维度的数据进行全自动化地整合、加工、计算，大幅度提升了传统银行发放贷款的效率。蚂蚁微贷的出现也引发传统金融机构的跟进，一个行业就此发生了改变。类似蚂蚁微贷这样的创新，可以看作
                    AI
                    在企业应用的先导，而能做到这一步的前提是阿里巴巴沉淀了完整的关于商家和用户的数据，并且拥有大数据的计算能力，具备数据思维。互联网企业具备天然的数据优势，只要能把数据的整合、加工、计算以及可视化呈现等基础工作做好，从运营、决策效率的提升入手，体会数据带来的利好，其实就已经铺就了一条通往人工智能的大道。</span>
                  <p>打通所有数据，让数据形成闭环</p>
                  <span>
                    以物流行业为例，接入订单、仓储、配送、售后服务及财务等各系统中的数据，打通业务系统，让前端投入和后端产出数据形成闭环。收集完数据，然后再进行多维度交叉分析，查看货运量、吞吐量、周转量、配送量等业务统计，评估运营效率，及时对物流服务质量作出评估，客户满意度、订单完成率、及时率、准确率、破损率、投诉率等尽在掌握，为企业的经营决策提供数据化的科学参考。通过大数据可视化系统，业务人员能随时查看数据，对市场变化作出更快的反应，企业管理者获得了更敏锐的洞察力，对经营决策作出科学、快速的调整。</span>
                  <p>及时掌控数据指标，促进企业决策流程</p>
                  <span>
                    增进企业的资讯整合与资讯分析的能力，汇总公司内、外部的资料，整合成有效的决策资讯，让企业经理人大幅增进决策效率与改善决策品质。针对于不同岗位的员工，数维可以灵活进行数据源以及仪表盘图表的配置，让每位员工获取最需要的数据，最大限度的提升工作质量。</span>
                  <p>随时线上分析处理，降低整体营运成本</p>
                  <span> 改善企业的资讯取得能力，大幅降低 IT 人员撰写程式、制作报表的时间与人力成本，而弹性的模组设计介面，完全不需撰写程式的特色也让日后的维护成本大幅降低。</span>
                  <div class="switch">
                    <div class="prev">
                      <div class="switch-btn">
                        上一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        大数据普及
                      </div>
                    </div>
                    <div class="next">
                      <div class="switch-btn">
                        下一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        产品介绍
                      </div>
                    </div>
                  </div>
                </div>
                <div class="book-content">
                  <h3>产品介绍</h3>
                  <span>
                    相比于传统图表与数据仪表盘，如今的数据可视化致力于用更生动、友好的形式，即时呈现隐藏在瞬息万变且庞杂数据背后的业务洞察。无论在零售、物流、电力、水利、环保，还是交通领域，通过交互式实时数据可视化大屏来帮助业务人员发现、诊断业务问题，越来越成为大数据解决方案中不可或缺的一环。</span>
                  <span>
                    创造一个可视化应用，您可能会面临如下的问题：
                    （1）对于数据可视化的设计无从下手，团队内的设计师对于复杂数据的展现经验不足；
                    （2）对于数据可视化的实现比较困难，设计出来的很多图表与特效开发耗时耗力；
                    （3）对于非传统报表数据类型（如时空数据、关系数据）的分析展现，缺乏相关的组件或工具支持；
                    （4）对于在大屏幕上的展示，总会遇到分辨率适配的种种问题；
                    （5）对于大数据的分析展示，现有工具无法很好支撑。
                  </span>
                  <span>
                    数维大数据可视化系统可以帮助非专业的工程师通过图形化的界面轻松搭建具有专业水准的可视化应用，让更多的人看到数据可视化的魅力。数维大数据可视化系统提供了丰富的可视化模板，极大程度满足会议展览、业务监控、风险预警、地理信息分析等多种业务的展示需求。</span>
                  <div class="switch">
                    <div class="prev">
                      <div class="switch-btn">
                        上一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        数据可视化对企业的意义
                      </div>
                    </div>
                    <div class="next">
                      <div class="switch-btn">
                        下一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        体系结构与兼容情况
                      </div>
                    </div>
                  </div>
                </div>
                <div class="book-content">
                  <h3>体系结构与兼容情况</h3>
                  <p>体系结构</p>
                  <span> 数维可视化系统采用 B/S 结构， WEB
                    浏览器是客户端最主要的应用软件。这种模式统一了客户端，将系统功能实现的核心部分集中到服务器上，简化了系统的开发、维护和使用。客户终端及图表制作站上只要安装一个浏览器，服务器安装数据库。浏览器通过
                    Web Server 同数据库进行数据交互。</span>
                  <div class="switch">
                    <div class="prev">
                      <div class="switch-btn">
                        上一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        产品介绍
                      </div>
                    </div>
                    <div class="next">
                      <div class="switch-btn">
                        下一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        功能详情
                      </div>
                    </div>
                  </div>
                </div>
                <div class="book-content">
                  <h3>功能详情</h3>
                  <p>可视化图表类型的支持</p>
                  <span> 数维大数据可视化系统提供了常规的折线图、柱状图、散点图、饼图、K 线图，用于统 计的盒形图，用于地理数据可视化的地图、热力图、线图，用于关系数据可视化的关系图、
                    treemap、旭日图，多维数据可视化的平行坐标，还有用于 BI 的漏斗图，仪表盘，并且支持图与图之间的混搭。</span>
                  <span> 除了已经内置的包含了丰富功能的图表，数维大数据可视化系统 还提供了一键式生成 图表功能，只需要通过简单的鼠标点击，就可以从数据映射到任何你想要的图形，更棒的是
                    这些都还能和已有的交互组件结合使用而不需要操心其它事情。</span>
                  <div class="switch">
                    <div class="prev">
                      <div class="switch-btn">
                        上一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        体系结构与兼容情况
                      </div>
                    </div>
                    <div class="next">
                      <div class="switch-btn">
                        下一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        产品特点
                      </div>
                    </div>
                  </div>
                </div>
                <div class="book-content">
                  <h3>产品特点</h3>
                  <p>响应式设计</p>
                  <span> 数维大数据可视化系统使用响应式布局设计，无论您使用在32块4k屏幕矩阵上，还是使用在 800*400分辨率单一显示器上都能以最完美的方式呈现。</span>
                  <p>直观的展示</p>
                  <span> 数维大数据可视化系统可以将琐碎，流量巨大，变化迅速，检测难度高，不易于观察等 数据以图表，文字，视频等多种方式呈现出来。</span>
                  <p>简洁的风格</p>
                  <span> 数维大数据可视化系统使用简洁的设计。</span>
                  <p>高度自由</p>
                  <span> 在数维大数据可视化系统，拖拽创建图表，拖动图表的位置，拉动改变图表的大小，配置图表简单容易。除此之外图表的色系风格，展示方式，都能随心控制，能完全满足您各种需求。</span>
                  <p>集成数据管理</p>
                  <span> 数维大数据可视化系统内部集成了数据库管理，文件管理，表格在线编辑等模块。并内 置排序，筛选，分组功能，使您的数据管理如虎添翼。</span>
                  <p>轻量级和超级快速</p>
                  <span> 数维大数据可视化系统使用自主研发的框架，优秀的架构，一个图表瞬间过万条数据变化不崩溃，1G
                    可用内存能展示至少50个图表。将用户指令的响应放在第一位，无论怎么操作都不会出现卡顿。</span>
                  <p>数维大数据可视化框架深入响应式系统</p>
                  <span> 可视化平台的一个最明显的特性就是其深入响应式系统。数据模型只是普通的JavaScript
                    对象。但当你修改它们时，视图会立即进行更新。这使得状态管理非常简单直接。以下是对传统显示技术与深入式响应的区别，其中图14为普通显示技术，图15为深入式</span>
                  <p>不需要编程基础</p>
                  <span> 数维大数据可视化系统的使用方法简单易懂，一切的数据处理，图表设置都已可视化方式展示，即使使用者对电脑操作不熟悉也能快速上手。</span>
                  <p>跨平台兼容</p>
                  <span> 可视化管理系统不仅可以在电脑上使用，手机、平板也可以完美操作，夸张地说只要有 一台能上网的设备您就能用他来使用我们的系统。</span>
                  <p>大数据处理</p>
                  <span> 数维大数据可视化系统使用独有的数据优化处理算法，对各种类型的数据都能以极快的速度整理出有效信息，提取关键字段，在1核1GB主机运行通常每秒能处理100多万条数据。</span>
                  <div class="switch">
                    <div class="prev">
                      <div class="switch-btn">
                        上一篇 <span class="switch-icon">></span>
                      </div>
                      <div class="switch-title">
                        功能详情
                      </div>
                    </div>
                    <div class="next">
                      <div class="switch-btn" style="
                      color:rgba(0,0,0,.3);
                      border:1px solid rgba(0,0,0,.3);">
                        上一篇 <span class="switch-icon" style="color:rgba(0,0,0,.3);">></span>
                      </div>
                      <div class="switch-title">
                        已是最后一篇
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- app 白皮书 -->
        <div class="video-app-book">
          <div class="appbook-menu">
            <div class="appbook-menu-item appSelect">大数据普及</div>
            <div class="appbook-menu-item">数据可视化对企业的意义</div>
            <div class="appbook-menu-item">产品概述</div>
            <div class="appbook-menu-item">产品特点</div>
          </div>
          <div class="appbook-content" style="display: block;">
            <h3>大数据普及</h3>
            <span>最早提出“大数据”时代到来的是全球知名咨询公司麦肯锡。麦肯锡称：“数据，已经渗透到当今每一个行业和业务职能领域，成为重要的生产因素。人们对于海量数据的挖掘和运用，预示着新一波生产率增长和消费者盈余浪潮的到来。”曾几何时，大数据在很多普通人的心目中是高大上的技术，即便是业内专业人员，也不敢设想大数据技术能够在短时间内广泛应用。如今，大数据已不再是阳春白雪，而逐渐成为一种普及的技术。作为一种新技术，大数据技术的发展过程与其他技术大抵相似：首先是在专业领域内讨论与研究；然后是小规模试点、应用推广，普通人听说并作为饭后谈资；最后是大众享受大数据技术带来的便利，以至于不再觉得大数据技术有何特别之处。要达到最后一个阶段，还需业内专业人员和市场人员等各方面力量共同努力，推动大数据普及化。毫无疑问，技术的进步是大数据普及化的基础，而降低应用成本是大数据普及化的必要条件。可以说，当前大数据在这两个方面已经取得了长足的进步。未来需要在更多场景中，北京开维创科技有限公司
              BeiJing
              OpenVtic用大数据技术，利用市场和资本的驱动，构建经济效益和社会效益兼备的大数据应用系统，为大众带来便利，为建设单位带来价值，为资本带来利润。目前业界开始探索大数据的应用手段，例如在视频、人工智能、物联网方向的应用。
              但能够全面的展示所有数据，并让决策者通过其分析出数据的意义，就需要运用数据可视化的技术了。</span>
          </div>
          <div class="appbook-content" style="display: none;">
            <h3>数据可视化对企业的意义</h3>
            <span>
              企业的高速发展，已经到了大规模应用大数据，提升企业经营效率的时代了。互联网企业的数据量都会经历一个积累的过程：刚开始搭建网络平台时，数据量不大，尚可通过普通的数据分析工具处理。一旦快速增长期到来，数据量也随之倍增，已有的工具难以处理海量数据。以客户数达百万量级的企业来说，每天用户访问量与订单量更可以用“海量”来形容。在使用大数据可视化系统前，大量业务分析需求积压在数据部门，数据分析师必须写各种脚本、调取不同数据，加班加点才能完成数据分析，，让数据分析师难以深挖数据中有价值的信息。在这种情况下云计算的优势就凸显了出来，一亿条数据几秒内就可以计算完毕，企业数据连接到大数据可视化系统之后，任何分析需求都能得到快速响应，企业整体运营、决策效率有了本质提升。</span>
            <p>不容易错过商机和趋势</p>
            <span>数据驱动效率提升，一旦量变到一定阶段就会引发质变，也就会诞生新的商业模式。典型的创新商业产品如蚂蚁微贷。阿里巴巴把电商零售数据、支付金融数据、个人身份信息等。多个维度的数据进行全自动化地整合、加工、计算，大幅度提升了传统银行发放贷款的效率。蚂蚁微贷的出现也引发传统金融机构的跟进，一个行业就此发生了改变。类似蚂蚁微贷这样的创新，可以看作
              AI
              在企业应用的先导，而能做到这一步的前提是阿里巴巴沉淀了完整的关于商家和用户的数据，并且拥有大数据的计算能力，具备数据思维。互联网企业具备天然的数据优势，只要能把数据的整合、加工、计算以及可视化呈现等基础工作做好，从运营、决策效率的提升入手，体会数据带来的利好，其实就已经铺就了一条通往人工智能的大道。</span>
            <p>打通所有数据，让数据形成闭环</p>
            <span>
              以物流行业为例，接入订单、仓储、配送、售后服务及财务等各系统中的数据，打通业务系统，让前端投入和后端产出数据形成闭环。收集完数据，然后再进行多维度交叉分析，查看货运量、吞吐量、周转量、配送量等业务统计，评估运营效率，及时对物流服务质量作出评估，客户满意度、订单完成率、及时率、准确率、破损率、投诉率等尽在掌握，为企业的经营决策提供数据化的科学参考。通过大数据可视化系统，业务人员能随时查看数据，对市场变化作出更快的反应，企业管理者获得了更敏锐的洞察力，对经营决策作出科学、快速的调整。</span>
            <p>及时掌控数据指标，促进企业决策流程</p>
            <span>
              增进企业的资讯整合与资讯分析的能力，汇总公司内、外部的资料，整合成有效的决策资讯，让企业经理人大幅增进决策效率与改善决策品质。针对于不同岗位的员工，数维可以灵活进行数据源以及仪表盘图表的配置，让每位员工获取最需要的数据，最大限度的提升工作质量。</span>
            <p>随时线上分析处理，降低整体营运成本</p>
            <span> 改善企业的资讯取得能力，大幅降低 IT 人员撰写程式、制作报表的时间与人力成本，而弹性的模组设计介面，完全不需撰写程式的特色也让日后的维护成本大幅降低。</span>
          </div>
          <div class="appbook-content" style="display: none;">
            <h3>产品介绍</h3>
            <span>
              相比于传统图表与数据仪表盘，如今的数据可视化致力于用更生动、友好的形式，即时呈现隐藏在瞬息万变且庞杂数据背后的业务洞察。无论在零售、物流、电力、水利、环保，还是交通领域，通过交互式实时数据可视化大屏来帮助业务人员发现、诊断业务问题，越来越成为大数据解决方案中不可或缺的一环。</span>
            <span>
              创造一个可视化应用，您可能会面临如下的问题：
              （1）对于数据可视化的设计无从下手，团队内的设计师对于复杂数据的展现经验不足；
              （2）对于数据可视化的实现比较困难，设计出来的很多图表与特效开发耗时耗力；
              （3）对于非传统报表数据类型（如时空数据、关系数据）的分析展现，缺乏相关的组件或工具支持；
              （4）对于在大屏幕上的展示，总会遇到分辨率适配的种种问题；
              （5）对于大数据的分析展示，现有工具无法很好支撑。
            </span>
            <span>
              数维大数据可视化系统可以帮助非专业的工程师通过图形化的界面轻松搭建具有专业水准的可视化应用，让更多的人看到数据可视化的魅力。数维大数据可视化系统提供了丰富的可视化模板，极大程度满足会议展览、业务监控、风险预警、地理信息分析等多种业务的展示需求。</span>
            <h3>体系结构与兼容情况</h3>
            <p>体系结构</p>
            <span> 数维可视化系统采用 B/S 结构， WEB
              浏览器是客户端最主要的应用软件。这种模式统一了客户端，将系统功能实现的核心部分集中到服务器上，简化了系统的开发、维护和使用。客户终端及图表制作站上只要安装一个浏览器，服务器安装数据库。浏览器通过
              Web Server 同数据库进行数据交互。</span>
            <h3>功能详情</h3>
            <p>可视化图表类型的支持</p>
            <span> 数维大数据可视化系统提供了常规的折线图、柱状图、散点图、饼图、K 线图，用于统 计的盒形图，用于地理数据可视化的地图、热力图、线图，用于关系数据可视化的关系图、
              treemap、旭日图，多维数据可视化的平行坐标，还有用于 BI 的漏斗图，仪表盘，并且支持图与图之间的混搭。</span>
            <span> 除了已经内置的包含了丰富功能的图表，数维大数据可视化系统 还提供了一键式生成 图表功能，只需要通过简单的鼠标点击，就可以从数据映射到任何你想要的图形，更棒的是
              这些都还能和已有的交互组件结合使用而不需要操心其它事情。</span>
          </div>
          <div class="appbook-content" style="display: none;">
            <h3>产品特点</h3>
            <p>响应式设计</p>
            <span> 数维大数据可视化系统使用响应式布局设计，无论您使用在32块4k屏幕矩阵上，还是使用在 800*400分辨率单一显示器上都能以最完美的方式呈现。</span>
            <p>直观的展示</p>
            <span> 数维大数据可视化系统可以将琐碎，流量巨大，变化迅速，检测难度高，不易于观察等 数据以图表，文字，视频等多种方式呈现出来。</span>
            <p>简洁的风格</p>
            <span> 数维大数据可视化系统使用简洁的设计。</span>
            <p>高度自由</p>
            <span> 在数维大数据可视化系统，拖拽创建图表，拖动图表的位置，拉动改变图表的大小，配置图表简单容易。除此之外图表的色系风格，展示方式，都能随心控制，能完全满足您各种需求。</span>
            <p>集成数据管理</p>
            <span> 数维大数据可视化系统内部集成了数据库管理，文件管理，表格在线编辑等模块。并内 置排序，筛选，分组功能，使您的数据管理如虎添翼。</span>
            <p>轻量级和超级快速</p>
            <span> 数维大数据可视化系统使用自主研发的框架，优秀的架构，一个图表瞬间过万条数据变化不崩溃，1G
              可用内存能展示至少50个图表。将用户指令的响应放在第一位，无论怎么操作都不会出现卡顿。</span>
            <p>数维大数据可视化框架深入响应式系统</p>
            <span> 可视化平台的一个最明显的特性就是其深入响应式系统。数据模型只是普通的JavaScript
              对象。但当你修改它们时，视图会立即进行更新。这使得状态管理非常简单直接。以下是对传统显示技术与深入式响应的区别，其中图14为普通显示技术，图15为深入式</span>
            <p>不需要编程基础</p>
            <span> 数维大数据可视化系统的使用方法简单易懂，一切的数据处理，图表设置都已可视化方式展示，即使使用者对电脑操作不熟悉也能快速上手。</span>
            <p>跨平台兼容</p>
            <span> 可视化管理系统不仅可以在电脑上使用，手机、平板也可以完美操作，夸张地说只要有 一台能上网的设备您就能用他来使用我们的系统。</span>
            <p>大数据处理</p>
            <span> 数维大数据可视化系统使用独有的数据优化处理算法，对各种类型的数据都能以极快的速度整理出有效信息，提取关键字段，在1核1GB主机运行通常每秒能处理100多万条数据。</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
  <!-- 底部 -->
  <div class="home-footer">
    <div class="footer-up">
      <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
      <div class="footer-btn">
        <a href="javascript:void(0)" class="to-detail">
          <div class="btn-taste">免费体验 ></div>
        </a>
      </div>
    </div>
    <div class="footer-down">
      <div class="down-box">
        <div class="down-list">
          <ul>
            <li>产品服务</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">数据可视化平台</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">数据服务</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">可视化定制化服务</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">知识云系统</li>
            </a>
          </ul>
          <ul>
            <li>解决方案</li>
            <a href="javascript:void(0)" class="to-detail">
              <li class="li-active" style="cursor: pointer;">智慧城市</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧工厂</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧能源</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧交通</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧金融</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧教育</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧政务</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧医疗</li>
            </a>
          </ul>
          <ul>
            <li>客户案例</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">宝马项目案例</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">伊利项目案例</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">国家能源集团</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">华厚能源项目</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">中国石化</li>
            </a>
          </ul>
          <ul>
            <li>用户中心</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">产品白皮书</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">使用手册</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">视频教学</li>
            </a>
          </ul>
          <ul>
            <li>关于我们</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">公司介绍</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">加入我们</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">新闻资讯</li>
            </a>
          </ul>
          <ul>
            <li>联系方式</li>
            <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
            <li class="erwei-text">微信公众号</li>
            <li>010-60606727</li>
            <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
          </ul>
        </div>
        <div class="down-tail">
          <div class="tail-list">
            <p>
              友情链接：
              <a href="javascript:void(0)" class="to-detail">千锋教育</a>
              <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
              <a href="javascript:void(0)" class="to-detail">PS教程</a>
              <a href="javascript:void(0)" class="to-detail">小程序开发</a>
              <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
            </p>
            <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 移动端页脚 -->
  <div class="app-footer">
    <div class="app-box">
      <div>
        <p class="app-text">产品服务</p>
        <p>数据可视化平台</p>
        <p>数据服务</p>
        <p>可视化定制服务</p>
        <p>知识云系统</p>
      </div>
      <div>
        <p class="app-text">解决方案</p>
        <p>数据可视化平台</p>
        <p>数据服务</p>
        <p>可视化定制服务</p>
        <p>知识云系统</p>
      </div>
    </div>
    <div class="app-bei">
      <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
      <p>京ICP备 1707</p>
    </div>
  </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script>
  $(document).ready(function () {
    $(".video-icon").hide()
    cutIn()
  });
  $('.list-btn').click(function () {
    $(this).siblings("li").stop().slideToggle().end().children(0).toggleClass("rotate")
  })
  function cutIn() {
    $('.video-top div').mouseover(function () {
      $(this).find(".video-name").hide()
      $(this).find(".video-icon").show()
    }).mouseout(function () {
      $(this).find(".video-name").show()
      $(this).find(".video-icon").hide()
    })
  }

  // 白皮书 tab菜单切换
  $('.menu-item').on('click', function () {
    var menuIndex = $(this).index('.menu-item')
    $('.menu-item').removeClass('selectColor')
    $(this).addClass('selectColor')
    $('.book-content').eq(menuIndex).show().siblings().hide()
  })

  // 上一篇
  $('.prev').on('click', function () {
    var prevIndex = $(this).index('.prev') - 1
    if (prevIndex < 0) return
    $('.menu-item').removeClass('selectColor')
    $('.menu-item').eq(prevIndex).addClass('selectColor')
    $('.book-content').eq(prevIndex).show().siblings().hide()
  })

  // 下一篇
  $('.next').on('click', function () {
    var nextIndex = $(this).index('.next') + 1
    if (nextIndex >= $('.menu-item').length) return
    $('.menu-item').removeClass('selectColor')
    $('.menu-item').eq(nextIndex).addClass('selectColor')
    $('.book-content').eq(nextIndex).show().siblings().hide()
  })

  // 手机端 视频教程
  let timer = null
  let selectId = 0
  // 自动轮播
  timer = setInterval(() => {
    selectId++
    if (selectId >= $('.dot-item').length) selectId = 0
    $('.dot-item').removeClass('dotActive')
    $('.dot-item').eq(selectId).addClass('dotActive')
    $('.swiper-item').css("display", "none")
    $('.swiper-item').eq(selectId).css("display", "flex")
  }, 3000);
  // 手动切换
  $('.dot-item').on('click', function () {
    $('.dot-item').removeClass('dotActive')
    $(this).addClass('dotActive')
    selectId = $(this).index('.dot-item')
    $('.swiper-item').css("display", "none")
    $('.swiper-item').eq(selectId).css("display", "flex")
  })

  // 手机端 白皮书切换
  $('.appbook-menu-item').on('click', function() {
    $('.appbook-menu-item').removeClass('appSelect')
    $(this).addClass('appSelect')
    selectId = $(this).index('.appbook-menu-item')
    $('.appbook-content').css("display", "none")
    $('.appbook-content').eq(selectId).css("display", "block")
  })
  $('.book-content').eq(0).siblings('.book-content').hide()

  // tabtree()
  // function tabtree() {
  //   for (var i = 0; i < $('.list-child').length; i++) {
  //     (function (j) {
  //       $('.list-child').on('click', function () {
  //         console.log($(this))
  //       })
  //     })(i)
  //   }
  // }
</script>

</html>