<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/views/usercenter.css">
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/appstyle/appUser.css">
</head>

<body>
  <!-- 用户中心页面 -->
  <div class="user-box"></div>
  <div class="home-headr">
    <nav class="navbar">
      <div class="container2">
        <div class="navbar-header">
          <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
            <img src="../assets/img/LOGO.png">
          </a>
          <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
            data-target="#head-navbar" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navCenter" id="head-navbar">
          <div class="mask"></div>
          <ul class="nav navbar-nav">
            <li class="dropdown btnBox dropdownActive dropdownShow"><a href="#">首页</a></li>
            <li class="dropdown btnBox">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">产品服务<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./views/VisualTerrace.html">数据可视化平台</a></li>
                <li><a href="./views/ProductSerice.html">数据服务</a></li>
                <li><a href="./views/CustomServe.html">可视化定制服务</a></li>
                <li><a href="./views/ClientCase.html">知识云系统</a></li>
              </ul>
            </li>
            <li class="dropdown btnBox">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">解决方案<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu dropdown-doublerow">
                <li><a href="#">智慧城市</a></li>
                <li><a href="#">智慧工厂</a></li>
                <li><a href="./views/SmartFinance.html">智慧金融</a></li>
                <li><a href="#">智慧交通</a></li>
                <li><a href="./views/Solution.html">智慧能源</a></li>
                <li><a href="#">智慧教育</a></li>
                <li><a href="#">智慧政务</a></li>
                <li><a href="#">智慧医疗</a></li>
              </ul>
            </li>
            <li class="dropdown btnBox"><a href="./views/ClientCase.html">客户案例</a></li>
            <li class="dropdown btnBox"><a class="navActive" href="./views/ClientCase.html">用户中心</a></li>
            <li class="dropdown btnBox">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./views/CompanyLetter.html">公司介绍</a></li>
                <li><a href="./views/Aboutus.html">加入我们</a></li>
                <li><a href="./views/NewsList.html">新闻资讯</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="headr-page">
          <span>进入sv.data</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="user-content row">
    <div class="user-top">
      <div>
        <p>用户中心</p>
        <p>北京开维创大数据可视化一对一服务响应，伴随您业务发展的 每一步，助力企业完成大数据可视化的模式重构和思想意识的改革</p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10 col-xs-12">
      <div class="user-video">
        <div class="video-text">
          <div>
            <p>视频教程</p>
            <p>videos courseware</p>
            <p></p>
          </div>
        </div>
        <div class="video-box">
          <div class="video-top row">
            <div class="col-lg-4 col-md-4 video-img"><img src="../assets/img/user/image_sp1.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4  video-img"><img src="../assets/img/user/image_sp2.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 video-img"><img src="../assets/img/user/image_sp3.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
          </div>
          <div class="video-dwon video-top  row">
            <div class="col-lg-4 col-md-4 video-img2"><img src="../assets/img/user/image_sp4.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 video-img2"><img src="../assets/img/user/image_sp5.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 video-img2"><img src="../assets/img/user/image_sp6.png" alt="">
              <div class="video-icon"></div>
              <div class="video-name">
                <p>基本操作</p>
                <p>23分34秒</p>
              </div>
            </div>
          </div>
        </div>
        <div class="video-book row">
          <div class="book-left col-lg-4 col-md-4">
            <div class="tree-top">
              <p></p>
              <p>白皮书</p>
            </div>
            <div class="tree-list">
              <ul>
                <li class="list-btn"><span class="btn-boult"></span><span>大数据普及</span></li>
                <li class="list-child">产品介绍-01</li>
                <li class="list-child">产品介绍-02</li>
                <li class="list-child">产品介绍-03</li>
              </ul>
              <ul>
                <li class="list-btn"><span class="btn-boult"></span><span>数据可视化对企业的意义</span></li>
                <li class="list-child">产品介绍-01</li>
                <li class="list-child">产品介绍-02</li>
                <li class="list-child">产品介绍-03</li>
              </ul>
              <ul>
                <li class="list-btn"><span class="btn-boult"></span><span>产品概述</span></li>
                <li class="list-child">产品介绍-01</li>
                <li class="list-child">产品介绍-02</li>
                <li class="list-child">产品介绍-03</li>
              </ul>
              <ul>
                <li class="list-btn"><span class="btn-boult"></span><span>产品特点</span></li>
                <li class="list-child">产品介绍-01</li>
                <li class="list-child">产品介绍-02</li>
                <li class="list-child">产品介绍-03</li>
              </ul>
            </div>
          </div>
          <div class="book-right col-lg-8 col-md-8">
            <div class="book-text">
              <div class="book-parent">
                <div class="book-content">
                  <p>数据可视化对企业的意义</p>
                  <span>企业的高速发展，已经到了大规模应用大数据，提升企业经营效率的时代了。互联网企业的数据量都会经历一个积累的过程：刚开始搭建网络平台时，数据量不大，尚可通过普通的数据分析工具处理。一旦快速增长期到来，数据量也随之倍增，已有的工具难以处理海量数据。以客户数达百万量级的企业来说，每天用户访问量与订单量更可以用“海量”来形容。在使用大数据可视化系统前，大量业务分析需求积压在数据部门，数据分析师必须写各种脚本、调取不同数据，加班加点才能完成数据分析，，让数据分析师难以深挖数据中有价值的信息。在这种情况下云计算的优势就凸显了出来，一亿条数据几秒内就可以计算完毕，企业数据连接到大数据可视化系统之后，任何分析需求都能得到快速响应，企业整体运营、决策效率有了本质提升。</span>
                  <p>不容易错过商机和趋势</p>
                  <span>数据驱动效率提升，一旦量变到一定阶段就会引发质变，也就会诞生新的商业模式。典型的创新商业产品如蚂蚁微贷。阿里巴巴把电商零售数据、支付金融数据、个人身份信息等。多个维度的数据进行全自动化地整合、加工、计算，大幅度提升了传统银行发放贷款的效率。蚂蚁微贷的出现也引发传统金融机构的跟进，一个行业就此发生了改变。类似蚂蚁微贷这样的创新，可以看作
                    AI
                    在企业应用的先导，而能做到这一步的前提是阿里巴巴沉淀了完整的关于商家和用户的数据，并且拥有大数据的计算能力，具备数据思维。互联网企业具备天然的数据优势，只要能把数据的整合、加工、计算以及可视化呈现等基础工作做好，从运营、决策效率的提升入手，体会数据带来的利好，其实就已经铺就了一条通往人工智能的大道。</span>
                </div>
                <div class="book-content">
                  <p>1-2</p>
                  <span>企业的高速发展，已经到了大规模应用大数据，提升企业经营效率的时代了。互联网企业的数据量都会经历一个积累的过程：刚开始搭建网络平台时，数据量不大，尚可通过普通的数据分析工具处理。一旦快速增长期到来，数据量也随之倍增，已有的工具难以处理海量数据。以客户数达百万量级的企业来说，每天用户访问量与订单量更可以用“海量”来形容。在使用大数据可视化系统前，大量业务分析需求积压在数据部门，数据分析师必须写各种脚本、调取不同数据，加班加点才能完成数据分析，，让数据分析师难以深挖数据中有价值的信息。在这种情况下云计算的优势就凸显了出来，一亿条数据几秒内就可以计算完毕，企业数据连接到大数据可视化系统之后，任何分析需求都能得到快速响应，企业整体运营、决策效率有了本质提升。</span>
                  <p>不容易错过商机和趋势</p>
                  <span>数据驱动效率提升，一旦量变到一定阶段就会引发质变，也就会诞生新的商业模式。典型的创新商业产品如蚂蚁微贷。阿里巴巴把电商零售数据、支付金融数据、个人身份信息等。多个维度的数据进行全自动化地整合、加工、计算，大幅度提升了传统银行发放贷款的效率。蚂蚁微贷的出现也引发传统金融机构的跟进，一个行业就此发生了改变。类似蚂蚁微贷这样的创新，可以看作
                    AI
                    在企业应用的先导，而能做到这一步的前提是阿里巴巴沉淀了完整的关于商家和用户的数据，并且拥有大数据的计算能力，具备数据思维。互联网企业具备天然的数据优势，只要能把数据的整合、加工、计算以及可视化呈现等基础工作做好，从运营、决策效率的提升入手，体会数据带来的利好，其实就已经铺就了一条通往人工智能的大道。</span>
                </div>
                <div class="book-content">
                  <p>1-3</p>
                  <span>企业的高速发展，已经到了大规模应用大数据，提升企业经营效率的时代了。互联网企业的数据量都会经历一个积累的过程：刚开始搭建网络平台时，数据量不大，尚可通过普通的数据分析工具处理。一旦快速增长期到来，数据量也随之倍增，已有的工具难以处理海量数据。以客户数达百万量级的企业来说，每天用户访问量与订单量更可以用“海量”来形容。在使用大数据可视化系统前，大量业务分析需求积压在数据部门，数据分析师必须写各种脚本、调取不同数据，加班加点才能完成数据分析，，让数据分析师难以深挖数据中有价值的信息。在这种情况下云计算的优势就凸显了出来，一亿条数据几秒内就可以计算完毕，企业数据连接到大数据可视化系统之后，任何分析需求都能得到快速响应，企业整体运营、决策效率有了本质提升。</span>
                  <p>不容易错过商机和趋势</p>
                  <span>数据驱动效率提升，一旦量变到一定阶段就会引发质变，也就会诞生新的商业模式。典型的创新商业产品如蚂蚁微贷。阿里巴巴把电商零售数据、支付金融数据、个人身份信息等。多个维度的数据进行全自动化地整合、加工、计算，大幅度提升了传统银行发放贷款的效率。蚂蚁微贷的出现也引发传统金融机构的跟进，一个行业就此发生了改变。类似蚂蚁微贷这样的创新，可以看作
                    AI
                    在企业应用的先导，而能做到这一步的前提是阿里巴巴沉淀了完整的关于商家和用户的数据，并且拥有大数据的计算能力，具备数据思维。互联网企业具备天然的数据优势，只要能把数据的整合、加工、计算以及可视化呈现等基础工作做好，从运营、决策效率的提升入手，体会数据带来的利好，其实就已经铺就了一条通往人工智能的大道。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
  <!-- 底部 -->
  <div class="home-footer">
    <div class="footer-up">
      <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
      <div class="footer-btn">
        <a href="javascript:void(0)" class="to-detail">
          <div class="btn-taste">免费体验 ></div>
        </a>
      </div>
    </div>
    <div class="footer-down">
      <div class="down-box">
        <div class="down-list">
          <ul>
            <li>产品服务</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">数据可视化平台</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">数据服务</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">可视化定制化服务</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">知识云系统</li>
            </a>
          </ul>
          <ul>
            <li>解决方案</li>
            <a href="javascript:void(0)" class="to-detail">
              <li class="li-active" style="cursor: pointer;">智慧城市</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧工厂</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧能源</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧交通</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧金融</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧教育</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧政务</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">智慧医疗</li>
            </a>
          </ul>
          <ul>
            <li>客户案例</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">宝马项目案例</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">伊利项目案例</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">国家能源集团</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">华厚能源项目</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">中国石化</li>
            </a>
          </ul>
          <ul>
            <li>用户中心</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">产品白皮书</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">使用手册</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">视频教学</li>
            </a>
          </ul>
          <ul>
            <li>关于我们</li>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">公司介绍</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">加入我们</li>
            </a>
            <a href="javascript:void(0)" class="to-detail">
              <li style="cursor: pointer;">新闻资讯</li>
            </a>
          </ul>
          <ul>
            <li>联系方式</li>
            <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
            <li class="erwei-text">微信公众号</li>
            <li>010-60606727</li>
            <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
          </ul>
        </div>
        <div class="down-tail">
          <div class="tail-list">
            <p>
              友情链接：
              <a href="javascript:void(0)" class="to-detail">千锋教育</a>
              <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
              <a href="javascript:void(0)" class="to-detail">PS教程</a>
              <a href="javascript:void(0)" class="to-detail">小程序开发</a>
              <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
            </p>
            <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 移动端页脚 -->
  <div class="app-footer">
    <div class="app-box">
      <div>
        <p class="app-text">产品服务</p>
        <p>数据可视化平台</p>
        <p>数据服务</p>
        <p>可视化定制服务</p>
        <p>知识云系统</p>
      </div>
      <div>
        <p class="app-text">解决方案</p>
        <p>数据可视化平台</p>
        <p>数据服务</p>
        <p>可视化定制服务</p>
        <p>知识云系统</p>
      </div>
    </div>
    <div class="app-bei">
      <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
      <p>京ICP备 1707</p>
    </div>
  </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script>
  $(document).ready(function () {
    $(".video-icon").hide()
    cutIn()
  });
  $('.list-btn').click(function () {
    $(this).siblings("li").stop().slideToggle().end().children(0).toggleClass("rotate")
  })
  function cutIn() {
    $('.video-top div').mouseover(function () {
      $(this).find(".video-name").hide()
      $(this).find(".video-icon").show()
    }).mouseout(function () {
      $(this).find(".video-name").show()
      $(this).find(".video-icon").hide()
    })
  }
  $('.book-content').eq(0).siblings('.book-content').hide()
  $('.list-child').on('click', function () {
    let j = $(this).index() - 1
    let ai = $(this).parent().index()
    var liBook = $('.book-parent').eq(ai)
    $('.book-content').eq(j).show().siblings().hide()
  })
  // tabtree()
  // function tabtree() {
  //   for (var i = 0; i < $('.list-child').length; i++) {
  //     (function (j) {
  //       $('.list-child').on('click', function () {
  //         console.log($(this))
  //       })
  //     })(i)
  //   }
  // }
</script>

</html>