<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components/normalize.css">
  <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/bootstrap-reset.css">
  <link rel="stylesheet" href="../assets/fonts/iconfont.css">
  <link rel="stylesheet" href="../css/views/visualTerrace.css">
  <link rel="stylesheet" href="../css/appstyle/appVisual.css">
</head>

<body>
  <!-- 数据可视化平台页面 -->
  <div class="detail-box">
    <div class="home-headr">
      <nav class="navbar">
        <div class="container2">
          <div class="navbar-header">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
              <img src="../assets/img/LOGO.png">
            </a>
            <button type="button" class="navbar-toggle collapsed navPadding" data-toggle="collapse"
              data-target="#head-navbar" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navCenter" id="head-navbar">
            <div class="mask"></div>
            <ul class="nav navbar-nav">
              <li class="dropdown btnBox dropdownActive dropdownShow"><a href="#">首页</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle navActive" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">产品服务<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/VisualTerrace.html">数据可视化平台</a></li>
                  <li><a href="./views/ProductSerice.html">数据服务</a></li>
                  <li><a href="./views/CustomServe.html">可视化定制服务</a></li>
                  <li><a href="./views/ClientCase.html">知识云系统</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">解决方案<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu dropdown-doublerow">
                  <li><a href="#">智慧城市</a></li>
                  <li><a href="#">智慧工厂</a></li>
                  <li><a href="./views/SmartFinance.html">智慧金融</a></li>
                  <li><a href="#">智慧交通</a></li>
                  <li><a href="./views/Solution.html">智慧能源</a></li>
                  <li><a href="#">智慧教育</a></li>
                  <li><a href="#">智慧政务</a></li>
                  <li><a href="#">智慧医疗</a></li>
                </ul>
              </li>
              <li class="dropdown btnBox"><a href="./views/ClientCase.html">客户案例</a></li>
              <li class="dropdown btnBox"><a href="./views/UserCenter.html">用户中心</a></li>
              <li class="dropdown btnBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">关于我们<span class="spanBtn glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="./views/CompanyLetter.html">公司介绍</a></li>
                  <li><a href="./views/Aboutus.html">加入我们</a></li>
                  <li><a href="./views/NewsList.html">新闻资讯</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="headr-page">
            <span>进入sv.data</span>
          </div>
        </div>
      </nav>
    </div>
    <!-- 新闻内容 -->
    <div class="product-content">
      <div class="product-talking">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-xs-1"></div>
            <div class="col-lg-10 col-xs-10">
              <div class="visu-box">
                <p class="product-text">数据可视化平台</p>
                <p class="product-text2">开维创协助国家能源集团亮相央视新闻</p>
                <div class="product-text3">让您十分钟拥有比双十一更炫酷的可视化大屏
                  <p class="product-into">
                    <span>》</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-xs-1"></div>
          </div>
        </div>
      </div>
      <!-- 双十一 -->
      <div class="both-box">
        <div class="analysis-box">
          <div class="analysis-contnet">
            <p class="analysis-p">比双十一数据大屏更酷炫的效果</p>
            <div>
              <!-- <div class="analysis-btn">
                <div class="analysis-cannot"> <img src="../assets/img/X.png" alt=""> 拒绝数据源单一</div>
                <div class="analysis-cannot"> <img src="../assets/img/X.png" alt=""> 拒绝无3D</div>
                <div class="analysis-cannot"> <img src="../assets/img/X.png" alt=""> 拒绝复杂交互</div>
                <div class="analysis-cannot"> <img src="../assets/img/X.png" alt=""> 拒绝无数据分析</div>
              </div> -->
              <div class="compete-box">
                <div class="com-box">
                  <div class="compete-text1">双十一</div>
                  <div class="compete-text2">VS</div>
                  <div class="compete-text3">开维创</div>
                </div>
              </div>
              <div class="analysis-ul">
                <div>
                  <li>多种数据源支持</li>
                  <li>海量图表组件</li>
                  <li>开放式共享服务</li>
                  <li>支持本地部署</li>
                  <li>提供免费数据专家咨询服务</li>
                  <li>行业分析经验丰富</li>
                  <li>2D、3D全都有</li>
                  <li>组件交互简单易懂</li>
                  <li>多终端支持</li>
                </div>
                <div></div>
                <div class="analysis-right">
                  <li>支持多种数据库</li>
                  <li>多种炫酷图表组件</li>
                  <li>企业定制化服务</li>
                  <li>灵活本地部署与发布</li>
                  <li>提供免费数据专家咨询服务</li>
                  <li>行业分析经验丰富</li>
                  <li>2D、3D全都有</li>
                  <li>组件交互简单易懂</li>
                  <li>多终端支持</li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container analysis-img">
          <div class="row">
            <div class="analysis-yi col-md-12 col-xs-12 col-sm-12"></div>
          </div>
        </div>
      </div>
      <div class="find-box row">
        <div class="find-bg">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 col-xs-12 row find-content">
            <div class="col-lg-12 col-xs-12 find-text">
              <p>本地部署</p>
              <p>Local deployment</p>
              <p class="center-block"></p>
              <p class="center-block">适配非常规拼接大屏，支持加密发布，支持本地部署，数据无需上传至第三方服务器或云端，私密数据的安全性更有保障。</p>
            </div>
            <div class="find-img container">
              <div class="row">
                <div class="findimg-box col-lg-3 col-xs-6 col-md-6"><img class="" src="../assets/img/vi/ben-01.png"
                    alt="">
                  <p>拼接大屏</p>
                </div>
                <div class="findimg-box col-lg-3 col-xs-6 col-md-6"><img class="" src="../assets/img/vi/ben-02.png"
                    alt="">
                  <p>加密发布</p>
                </div>
                <div class="findimg-box col-lg-3 col-xs-6 col-md-6"><img class="imgTop"
                    src="../assets/img/vi/ben-03.png" alt="">
                  <p>私密数据</p>
                </div>
                <div class="findimg-box col-lg-3 col-xs-6 col-md-6"><img class="imgTop"
                    src="../assets/img/vi/ben-04.png" alt="">
                  <p>数据安全</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
      <!-- 数据可视化 -->
      <div class="product-example row">
        <div class="col-lg-1 col-xs-0"></div>
        <div class="example-box col-lg-10  col-xs-12 container">
          <div class="row example-row">
            <div class="col-lg-6 col-xs-12 example-left">
              <p class="example-title">多种数据源支持</p>
              <p class="example-en">Multiple data source support</p>
              <p class="example-line"></p>
              <p class="example-text">支持接入关系型数据库、本地CSV上传和在线API等，支持动态请求，多服务平台信息可视化呈现。</p>
            </div>
            <div class="col-lg-6 col-xs-12 example-right">
              <img src="../assets/img/vi/visu-data.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-xs-0"></div>
      </div>
      <!-- GIS地图 -->
      <div class="custom-two row">
        <img src="../assets/img/vi/gis.png" alt="">
        <div class="two-text">
          <p>GIS地图</p>
          <p>GIS map</p>
          <p></p>
          <p>GIS地图在大数据可视化中得到了广泛的应用，通过将数据的地理位置信息映射到地图上对应点和线生成各种地图图示。</p>
        </div>
      </div>
      <!-- 数据定制 -->
      <div class="custom-box row">
        <div class="col-lg-10 col-xs-12 col-md-12 custom-place">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-6 col-xs-12 col-md-6">
              <div class="custom-img2">
                <img src="../assets/img/vi/vis-zhi01.png" alt="">
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-md-6 custom-text cxt-1">
              <div class="custom-title">
                <div class="custom-top">
                  <p class="custom-twig"></p>
                  <div class="custom-tetx">
                    <p>数据源跨平台兼容</p>
                    <p>Data source cross-platform compatible</p>
                  </div>
                </div>
                <p class="explain-text">
                  兼容各种数据源类型，支持海量数据。可连接公司各种各样业务管理系统、第三方平台互联网技术统计数据、电子表格等数据文件以及公共数据综合服务平台，轻松整合所有相关业务数据，帮助企业消除数据孤岛。</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xs-12  col-md-12">
            <div class="col-lg-6 col-xs-12 col-md-6 custom-text cxt-2">
              <div class="custom-title">
                <div class="custom-top">
                  <p class="custom-twig"></p>
                  <div class="custom-tetx">
                    <p>3D可视化</p>
                    <p>3D visualization</p>
                  </div>
                </div>
                <p class="explain-text">
                  我们不仅提供全周期模型资源支持，还可以通过设计师灵动设计的场景模型与现实设备进行数据互通与联动，真正实现3D万物可视，还支持3D地图等效果，支持地理数据多层叠加。</p>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12  col-md-6" style="padding: 0px;">
              <div class="custom-img">
                <img src="../assets/img/vi/vis-zhi02.png" alt="" style="margin-left:0px">
              </div>
            </div>
          </div>
        </div>
        <div class="place-box">
          <div class="place-blue">
            <div class="place-text">
              <p>数据</p>
              <p>可视化</p>
            </div>
          </div>
        </div>
        <!-- 移动轮播 -->
        <div class="custom-app container">
          <div class="row">
            <div class="app-lunbo col-md-12 col-xs-12 col-sm-12">
              <div class="col-lg-6 col-xs-12 custom-text">
                <div class="custom-title">
                  <div class="custom-top">
                    <span></span>
                    <span class="app-text">数据源跨平台兼容</span>
                    <span class="app-text2">Data source cross-platform compatible</span>
                  </div>
                  <p class="app-text3">
                    兼容各种数据源类型，支持海量数据。可连接公司各种各样业务管理系统、第三方平台互联网技术统计数据、电子表格等数据文件以及公共数据综合服务平台，轻松整合所有相关业务数据，帮助企业消除数据孤岛。</p>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12 app-img" style="padding: 0px;">
                <img src="../assets/img/vi/vis-zhi01.png" alt="" style="margin-left:0px">
              </div>
            </div>
            <div class="app-lunbo col-md-12 col-xs-12 col-sm-12">
              <div class="col-lg-6 col-xs-12 custom-text">
                <div class="custom-title">
                  <div class="custom-top">
                    <span></span>
                    <span class="app-text">3D可视化</span>
                    <span class="app-text2">3D visualization</span>
                  </div>
                  <p class="app-text3">我们不仅提供全周期模型资源支持，还可以通过设计师灵动设计的场景模型与现实设备进行数据互通与联动，真正实现3D万物可视，还支持3D地图等效果，支持地理数据多层叠加。
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12 app-img" style="padding: 0px;">
                <img src="../assets/img/vi/vis-zhi02.png" alt="">
              </div>
            </div>
          </div>
          <div class="dot-box">
            <ul>
              <li class="dotEspe dotActive"></li>
              <li class="dotActive"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="home-footer">
      <div class="footer-up">
        <p class="footer-p">看看开维创为宝马做的可视化&nbsp;&nbsp;<span style="font-size: 30px;"> 》</span> </p>
        <div class="footer-btn">
          <a href="javascript:void(0)" class="to-detail">
            <div class="btn-taste">免费体验 ></div>
          </a>
        </div>
      </div>
      <div class="footer-down">
        <div class="down-box">
          <div class="down-list">
            <ul>
              <li>产品服务</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据可视化平台</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">数据服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">可视化定制化服务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">知识云系统</li>
              </a>
            </ul>
            <ul>
              <li>解决方案</li>
              <a href="javascript:void(0)" class="to-detail">
                <li class="li-active" style="cursor: pointer;">智慧城市</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧工厂</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧能源</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧交通</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧金融</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧教育</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧政务</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">智慧医疗</li>
              </a>
            </ul>
            <ul>
              <li>客户案例</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">宝马项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">伊利项目案例</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">国家能源集团</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">华厚能源项目</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">中国石化</li>
              </a>
            </ul>
            <ul>
              <li>用户中心</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">产品白皮书</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">使用手册</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">视频教学</li>
              </a>
            </ul>
            <ul>
              <li>关于我们</li>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">公司介绍</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">加入我们</li>
              </a>
              <a href="javascript:void(0)" class="to-detail">
                <li style="cursor: pointer;">新闻资讯</li>
              </a>
            </ul>
            <ul>
              <li>联系方式</li>
              <li class="erwei-box"><img src="../assets/img/erweima.png" alt=""></li>
              <li class="erwei-text">微信公众号</li>
              <li>010-60606727</li>
              <li class="site-box">北京市海淀区清河中街强佑清河新城-A座14层1419</li>
            </ul>
          </div>
          <div class="down-tail">
            <div class="tail-list">
              <p>
                友情链接：
                <a href="javascript:void(0)" class="to-detail">千锋教育</a>
                <a href="javascript:void(0)" class="to-detail">阿里蜘蛛</a>
                <a href="javascript:void(0)" class="to-detail">PS教程</a>
                <a href="javascript:void(0)" class="to-detail">小程序开发</a>
                <a href="javascript:void(0)" class="to-detail">联想商用电脑推广</a>
              </p>
              <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved |京ICP备 1707</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 移动端页脚 -->
    <div class="app-footer">
      <div class="app-box">
        <div>
          <p class="app-text">产品服务</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
        <div>
          <p class="app-text">解决方案</p>
          <p>数据可视化平台</p>
          <p>数据服务</p>
          <p>可视化定制服务</p>
          <p>知识云系统</p>
        </div>
      </div>
      <div class="app-bei">
        <p>Copyright © 2008 - 2018 kwcnet. All Rights Reserved </p>
        <p>京ICP备 1707</p>
      </div>
    </div>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/convert.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="../js/rollList.js"></script>
<script>
  $(document).ready(function () {
    appLunbo()
  });

  function appLunbo() {
    $('.app-lunbo').eq(1).hide();
    var j = 0
    var customLunbo = null

    function appTime() {
      j++;
      //当图片是最后一张的后面时，设置图片为第一张
      if (j == 2) {
        j = 0;
      }
      for (var i = 0; i < $('.app-lunbo').length; i++) {
        $('.app-lunbo').eq(i).hide()
        $(".dotActive").eq(i).removeClass("dotEspe");
      }
      $('.app-lunbo').eq(j).show()
      $(".dotActive").eq(j).addClass("dotEspe");
    }
    customLunbo = setInterval(appTime, 2000)
  }
</script>

</html>