@media(min-width: 992px) and (max-width: 1200px){
  .client-content{
    width: 100%;
  }
  .client-right{
    display: block;
  }
  .app-footer{
    display: none;
  }
  .home-footer{
    display: block;
  }
  .dynamic-list p{
    font-size: 12px;
  }
  .dynamic-list{
    overflow: hidden;
  }
}

@media(max-width: 992px){
  .client-content{
    padding: 0 24px;
  }
}

@media(max-width: 768px){
  .client-top {
    height: 175px;
  }
  .client-content{
    padding: 0 12px;
  }
}