@media (min-width: 992px) and (max-width: 1200px) {

  .tab-boxImg {
    width: 100%;
  }

  .three-content img:nth-child(2),
  .three-content img:nth-child(3),
  .three-content img:nth-child(4) {
    margin-left: -54%;
  }

  .three-content {
    margin: 0 auto;
  }

  .three-content img:nth-child(1) {
    margin-left: 7%;
  }

  .btn-position2 {
    right: 10px;
  }

  .btn-position {
    left: 10px;
  }

  .app-footer {
    display: none;
  }

  .home-footer {
    display: block;
  }
  .one-img img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .two-text {
    width: 80%;
  }
  .one-img img {
    width: 100%;
    height: auto;
  }
  .custom-box {
    background: rgba(210, 224, 246, 0.3);
  }

  .top-box {
    height: 420px;
  }

  .top-text {
    font-size: 36px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }

  .top-text2 {
    font-size: 26px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .top-text3 {
    font-size: 26px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .top-into {
    display: none;
  }

  /* 可视化自由组件 */
  .custom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-text p:nth-of-type(2) {
    display: block;
    font-size: 36px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
  }

  .custom-text p:nth-of-type(1) {
    display: none;
  }

  .custom-text p:nth-of-type(3) {
    display: none;
  }

  .custom-text p:nth-of-type(4) {
    font-size: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
  }

  .one-img {
    height: 374px;
  }

  .one-img img:hover {
    transform: none;
  }

  .custom-one {
    height: 781px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
  }

  .custom-two img:hover {
    transform: none;
  }

  .custom-four img:hover {
    transform: none;
  }

  .custom-three {
    display: none;
  }

  .custom-carousel {
    display: block;
  }
}

@media (max-width: 768px) {
  .top-box {
    height: 210px;
  }
  .top-text {
    font-size: 30px;
  }

  .top-text2 {
    font-size: 14px;
    margin-top: 15px;
  }

  .top-text3 {
    font-size: 14px;
  }

  .custom-text p:nth-of-type(2) {
    font-size: 18px;
  }

  .custom-text p:nth-child(4) {
    font-size: 14px;
  }

  .custom-text {
    padding: 0;
    margin-top: 15px;
  }

  .one-img {
    padding: 0;
    height: 187px;
  }

  .custom-one {
    height: 390px;
    padding: 0 12px;
  }

  .two-text p:nth-child(1) {
    font-size: 16px;
    margin-top: 60px;
  }

  .two-text p:nth-child(2) {
    display: none;
  }

  .two-text p:nth-child(3) {
    margin-top: 15px;
  }

  .custom-two {
    height: 320px;
  }

  .carousel-text p:nth-of-type(1) {
    font-size: 18px;
  }

  .carousel-text p:nth-of-type(2) {
    font-size: 14px;
  }

  .carousel-text {
    width: 100%;
    padding: 0 15px;
    height: 190px;
  }

  .carousel-box {
    width: 100%;
    padding: 0 15px;
    height: 269px;
  }

  .carousel-img {
    height: 202px;
  }

  .carousel-img img {
    width: 100%;
    height: 100%;
  }

  .custom-carousel {
    height: 459px;
  }

  .custom-four {
    height: 240px;
  }
}