@media(min-width: 992px) and (max-width: 1200px){
  .client-content{
    width: 100%;
  }
  .client-right{
    display: block;
  }
  .app-footer{
    display: none;
  }
  .home-footer{
    display: block;
  }
  .dynamic-list p{
    font-size: 12px;
  }
  .dynamic-list{
    overflow: hidden;
  }
}