@media(min-width: 992px) and (max-width: 1200px){
  .user-video{
    width: 100%;
  }
}
@media(max-width: 992px) {
  .video-img img {
    padding: 0 5px;
  }
  .user-top {
    height: 235px;
  }
  .video-book {
    display: none;
  }
  .user-top p:nth-child(1) {
    font-size: 24px;
    height: 30px;
  }
  .user-top p:nth-child(2) {
    font-size: 16px;
    margin-top: 0;
  }
  .video-text p:nth-child(1) {
    font-size: 36px;
  }
  .video-text p:nth-child(2) {
    font-size:28px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,.25);
    line-height:30px;
    margin: 0;
  }

  .video-text p:nth-child(3) {
    display: none;
  }

  .video-box {
    display: none;
  }

  .video-app-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 330px;
  }

  .swiper-video {
    padding: 0 24px;
  }

  .swiper-item {
    height: 100%;
    justify-content: space-between;
  }
  
  .dot {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .dot-item {
    width:16px;
    height:16px;
    margin: 0 10px;
    background:rgba(204,204,204,1);
    border-radius:50%;
  }
  .video-img {
    height: 100%;
  }

  .video-app-book {
    display: block;
    width: 100%;
  }
  .appbook-menu {
    width: 100%;
    height: 180px;
    font-size: 0;
  }
  .appbook-menu-item {
    display: inline-block;
    width: calc(50% - 1px);
    height: 88px;
    line-height: 88px;
    text-align: center;
    background:rgba(24,144,255,0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .appbook-content {
    width: calc(100% - 48px);
    margin: 50px auto;
    padding: 10px 30px 50px;
    box-shadow:0px 5px 16px 4px rgba(0, 0, 0, 0.05);
    border-radius:8px;
  }
  .appSelect {
    background:rgba(24,144,255,1);
    color:rgba(255,255,255,1);
  }
  .appbook-content h3 {
    font-size:28px;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(1,1,1,.85);
    margin: 30px 0;
  }
  .appbook-content p {
    font-size:28px;
    font-family:PingFang SC;
    font-weight:600;
    color:rgba(1,1,1,.85);
    margin: 0 0 0 5px;
  }
  .appbook-content span {
    font-size:28px;
    font-family:PingFang SC;
    color:rgba(0,0,0,.85);
    text-indent: 10px;
  }
}

@media(max-width: 768px) {
  .swiper-video {
    padding: 0 10px;
  }
  .video-text {
    height: 80px;
  }
  .video-app-box {
    height: 200px;
  }
  .video-text p:nth-child(1) {
    font-size: 18px;
    margin-bottom: 0;
  }
  .video-text p:nth-child(2) {
    font-size: 14px;
    line-height: 20px;
  }
  .dot {
    height: 30px;
  }
  .user-top {
    height: 120px;
  }
  .user-top p:nth-child(1) {
    font-size: 14px;
  }
  .user-top p:nth-child(2) {
    font-size: 8px;
  }
  .video-name p:nth-child(1) {
    font-size: 12px;
  }
  .video-name p:nth-child(2) {
    font-size: 12px;
  }

  .appbook-menu {
    height: 90px;
  }
  .appbook-menu-item {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
  }
  .appbook-content {
    width: calc(100% - 24px);
    margin: 25px auto;
    padding: 0 15px;
  }
}